<div class="wrapper flip-container">
    <main class="main-content flipper">
        <div class="page-front">
            <header class="app-header">
                <span class="tab">Resume</span>
                <span class="flip-btn pull-right flip-back">1</span>
            </header>
            <aside class="left-section pull-left">
                <div class="profile-badge">
                    <div class="anim-frame logo" id="logo">
                        <div class="windmill">
                            <div class="windmill-base"></div>
                            <div class="windmill-body"></div>
                            <div class="windmill-wings wing1"></div>
                            <div class="windmill-wings wing2"></div>
                        </div>
                        <div class="clouds">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="362px"
                            height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud smaller slow">
                            <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
                            c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
                            C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
                            S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z"/>
                            </svg>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="362px"
                            height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="cloud small slower">
                            <path fill="#FFFFFF" d="M715.394,228h-16.595c0.79-5.219,1.201-10.562,1.201-16c0-58.542-47.458-106-106-106
                            c-8.198,0-16.178,0.932-23.841,2.693C548.279,45.434,488.199,0,417.5,0c-84.827,0-154.374,65.401-160.98,148.529
                            C245.15,143.684,232.639,141,219.5,141c-49.667,0-90.381,38.315-94.204,87H46.607C20.866,228,0,251.058,0,279.5
                            S20.866,331,46.607,331h668.787C741.133,331,762,307.942,762,279.5S741.133,228,715.394,228z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="profile-image"></div>
                    <h5 class="name">Rachit Garg</h5>
                    <h6 class="title">User Interface Engineer</h6>
                </div>
                <div class="intro">
                    <p>Front End Engineer who takes pride in writing highly organised and efficient code. I have <strong>7</strong> years of experience in building Rich Internet Applications (RIAs) for desktop and mobile devices.</p>
                    <p>A diligent &amp; passionate person at work, gregarious &amp; lively outside.</p>
                </div>
                <div class="personal-info">
                    <ul class="list">
                        <li class="clear-all">
                            <label class="pull-left">
                                <svg class="icon-s24 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 6c1.11 0 2-.9 2-2 0-.38-.1-.73-.29-1.03L12 0l-1.71 2.97c-.19.3-.29.65-.29 1.03 0 1.1.9 2 2 2zm4.6 9.99l-1.07-1.07-1.08 1.07c-1.3 1.3-3.58 1.31-4.89 0l-1.07-1.07-1.09 1.07C6.75 16.64 5.88 17 4.96 17c-.73 0-1.4-.23-1.96-.61V21c0 .55.45 1 1 1h16c.55 0 1-.45 1-1v-4.61c-.56.38-1.23.61-1.96.61-.92 0-1.79-.36-2.44-1.01zM18 9h-5V7h-2v2H6c-1.66 0-3 1.34-3 3v1.54c0 1.08.88 1.96 1.96 1.96.52 0 1.02-.2 1.38-.57l2.14-2.13 2.13 2.13c.74.74 2.03.74 2.77 0l2.14-2.13 2.13 2.13c.37.37.86.57 1.38.57 1.08 0 1.96-.88 1.96-1.96V12C21 10.34 19.66 9 18 9z"/>
                                </svg>
                            </label>
                            <span class="pull-left">28-11-1988</span>
                        </li>
                        <li class="clear-all">
                            <label class="pull-left">
                                <svg class="icon-s24 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z"/>
                                </svg>
                            </label>
                            <span class="pull-left">English, Hindi, Punjabi</span>
                        </li>
                        <li class="clear-all">
                            <label class="pull-left">
                                <svg class="icon-s24 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </label>
                            <span class="pull-left">Bengaluru, India</span>
                        </li>
                        <li class="clear-all hide-me">
                            <label class="pull-left">
                                <svg class="icon-s24 icon-white"viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M20 6h-3V4c0-1.11-.89-2-2-2H9c-1.11 0-2 .89-2 2v2H4c-1.11 0-2 .89-2 2v11c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zM9 4h6v2H9V4zm11 15H4v-2h16v2zm0-5H4V8h3v2h2V8h6v2h2V8h3v6z"/>
                                </svg>
                            </label>
                            <span class="pull-left">PR Australia</span>
                        </li>
                    </ul>
                </div>
                <div class="interests-info clear-all">
                    <h2 class="section-header">
                        <span>In my free time</span>
                    </h2>
                    <ul class="list">
                        <li>
                            <i class="icons">
                                <svg class="icon-s30 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-8 12H9.5v-2h-2v2H6V9h1.5v2.5h2V9H11v6zm2-6h4c.55 0 1 .45 1 1v4c0 .55-.45 1-1 1h-4V9zm1.5 4.5h2v-3h-2v3z"/>
                                </svg>
                            </i>
                            <span class="name">TV Series</span>
                        </li>
                        <li>
                            <i class="icons">
                                <svg class="icon-s30 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none" opacity=".1"/>
                                    <path d="M12 1c-4.97 0-9 4.03-9 9v7c0 1.66 1.34 3 3 3h3v-8H5v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h3c1.66 0 3-1.34 3-3v-7c0-4.97-4.03-9-9-9z"/>
                                </svg>
                            </i>
                            <span class="name">Music</span>
                        </li>
                        <li>
                            <i class="icons">
                                <svg class="icon-s30 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z"/>
                                </svg>
                            </i>
                            <span class="name">Reading</span>
                        </li>
                        <li>
                            <i class="icons">
                                <svg  class="icon-s30 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29z"/>
                                </svg>
                            </i>
                            <span class="name">Workout</span>
                        </li>
                        <li>
                            <i class="icons">
                                <svg  class="icon-s30 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M15 7.5V2H9v5.5l3 3 3-3zM7.5 9H2v6h5.5l3-3-3-3zM9 16.5V22h6v-5.5l-3-3-3 3zM16.5 9l-3 3 3 3H22V9h-5.5z"/>
                                </svg>
                            </i>
                            <span class="name">Games</span>
                        </li>
                        <li>
                            <i class="icons">
                                <svg  class="icon-s30 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M20 3H4v10c0 2.21 1.79 4 4 4h6c2.21 0 4-1.79 4-4v-3h2c1.11 0 2-.89 2-2V5c0-1.11-.89-2-2-2zm0 5h-2V5h2v3zM2 21h18v-2H2v2z"/>
                                </svg>
                            </i>
                            <span class="name">Cafe</span>
                        </li>
                        <li>
                            <i class="icons">
                                <svg  class="icon-s30 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M9.4 10.5l4.77-8.26C13.47 2.09 12.75 2 12 2c-2.4 0-4.6.85-6.32 2.25l3.66 6.35.06-.1zM21.54 9c-.92-2.92-3.15-5.26-6-6.34L11.88 9h9.66zm.26 1h-7.49l.29.5 4.76 8.25C21 16.97 22 14.61 22 12c0-.69-.07-1.35-.2-2zM8.54 12l-3.9-6.75C3.01 7.03 2 9.39 2 12c0 .69.07 1.35.2 2h7.49l-1.15-2zm-6.08 3c.92 2.92 3.15 5.26 6 6.34L12.12 15H2.46zm11.27 0l-3.9 6.76c.7.15 1.42.24 2.17.24 2.4 0 4.6-.85 6.32-2.25l-3.66-6.35-.93 1.6z"/>
                                </svg>
                            </i>
                            <span class="name">Photography</span>
                        </li>
                        <li>
                            <i class="icons">
                                <svg class="icon-s30 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M14 6l-3.75 5 2.85 3.8-1.6 1.2C9.81 13.75 7 10 7 10l-6 8h22L14 6z"/>
                                </svg>
                            </i>
                            <span class="name">Hiking</span>
                        </li>
                        <li>
                            <i class="icons">
                                <svg class="icon-s30 icon-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </i>
                            <span class="name">Trading</span>
                        </li>
                    </ul>
                </div>
                <div class="contact-info clear-all">
                    <h2 class="section-header">
                        <span>Get in touch</span>
                    </h2>
                    <ul class="list">
                        <li class="svg">
                            <label class="pull-left">
                                <svg class="icon-s24 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
                                </svg>
                            </label>
                            <span class="pull-left">
                                <a href="tel: +918095540871">+91 8095-540-871</a>
                            </span>
                        </li>
                        <li class="svg">
                            <label class="pull-left icon">
                                <svg class="icon-s24 icon-red" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/>
                                </svg>
                            </label>
                            <span class="pull-left text">
                                <a href="mailto:rachigarg@gmail.com">rachigarg@gmail.com</a>
                            </span>
                        </li>
                        <li class="svg">
                            <label class="pull-left icon">
                                <svg class="icon-s26 icon-yellow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <path fill="none" d="M0 0h24v24H0V0z"/>
                                    <circle cx="15.5" cy="9.5" r="1.5"/>
                                    <circle cx="8.5" cy="9.5" r="1.5"/>
                                    <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm4.41-6.11c-.35-.22-.82-.11-1.03.24-.74 1.17-2 1.87-3.38 1.87s-2.64-.7-3.38-1.88c-.22-.35-.68-.46-1.03-.24-.35.22-.46.68-.24 1.03C8.37 16.54 10.1 17.5 12 17.5s3.63-.97 4.65-2.58c.22-.35.11-.81-.24-1.03z"/>
                                </svg>
                            </label>
                            <span class="pull-left text">
                                <a href="http://www.pixlboy.com/" target="_blank" class="linker">
                                    http://www.pixlboy.com/
                                </a>
                                <span class="linker-text">www.pixlboy.com</span>
                            </span>
                        </li>
                        <li class="svg">
                            <label class="pull-left icon">
                                <svg class="icon-s26 icon-blue" viewBox="0 0 24 24">
                                    <path d="M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M18.5,18.5V13.2A3.26,3.26 0 0,0 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17A1.4,1.4 0 0,1 15.71,13.57V18.5H18.5M6.88,8.56A1.68,1.68 0 0,0 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19A1.69,1.69 0 0,0 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z" />
                                </svg>
                            </label>
                            <span class="pull-left text">
                                <a href="https://www.linkedin.com/in/rach8garg" target="_blank" class="linker">
                                    https://www.linkedin.com/in/rach8garg
                                </a>
                                <span class="linker-text">linkedin.com/in/rach8garg</span>
                            </span>
                        </li>
                        <li class="svg">
                            <label class="pull-left icon">
                                <svg class="icon-s26 icon-orange" viewBox="0 0 24 24">
                                    <path d="M17.36,20.2V14.82H19.15V22H3V14.82H4.8V20.2H17.36M6.77,14.32L7.14,12.56L15.93,14.41L15.56,16.17L6.77,14.32M7.93,10.11L8.69,8.5L16.83,12.28L16.07,13.9L7.93,10.11M10.19,6.12L11.34,4.74L18.24,10.5L17.09,11.87L10.19,6.12M14.64,1.87L20,9.08L18.56,10.15L13.2,2.94L14.64,1.87M6.59,18.41V16.61H15.57V18.41H6.59Z" />
                                </svg>
                            </label>
                            <span class="pull-left text">
                                <a href="https://stackoverflow.com/users/2028631/rach8garg" target="_blank" class="linker">
                                    https://stackoverflow.com/users/2028631/rach8garg
                                </a>
                                <span class="linker-text">stackoverflow.com/rach8garg</span>
                            </span>
                        </li>
                        <li class="svg">
                            <label class="pull-left icon">
                                <svg class="icon-s26 icon-white" viewBox="0 0 24 24">
                                    <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H14.56C14.24,20.93 14.23,20.32 14.23,20.11L14.24,17.64C14.24,16.8 13.95,16.25 13.63,15.97C15.64,15.75 17.74,15 17.74,11.53C17.74,10.55 17.39,9.74 16.82,9.11C16.91,8.89 17.22,7.97 16.73,6.73C16.73,6.73 15.97,6.5 14.25,7.66C13.53,7.46 12.77,7.36 12,7.35C11.24,7.36 10.46,7.46 9.75,7.66C8.03,6.5 7.27,6.73 7.27,6.73C6.78,7.97 7.09,8.89 7.18,9.11C6.61,9.74 6.26,10.55 6.26,11.53C6.26,15 8.36,15.75 10.36,16C10.1,16.2 9.87,16.6 9.79,17.18C9.27,17.41 7.97,17.81 7.17,16.43C7.17,16.43 6.69,15.57 5.79,15.5C5.79,15.5 4.91,15.5 5.73,16.05C5.73,16.05 6.32,16.33 6.73,17.37C6.73,17.37 7.25,19.12 9.76,18.58L9.77,20.11C9.77,20.32 9.75,20.93 9.43,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3Z" />
                                </svg>
                            </label>
                            <span class="pull-left text">
                                <a href="https://github.com/rach8garg" target="_blank" class="linker">
                                    https://www.github.com/rach8garg
                                </a>
                                <span class="linker-text">github.com/rach8garg</span>
                            </span>
                        </li>
                        <li class="svg">
                            <label class="pull-left icon">
                                <svg class="icon-s24 icon-green" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="none" d="M0 0h24v24H0V0z"/>
                                    <path d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2v9.67z"/>
                                </svg>
                            </label>
                            <span class="pull-left text">
                                <a href="http://www.pixlboy.com/docs/rach8garg.pdf" target="_blank" class="linker">
                                    http://www.pixlboy.com/docs/rach8garg.pdf
                                </a>
                                <span class="linker-text">Download Resume</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </aside>
            <article class="right-section pull-right">
                <section class="section-experience-education content-box">
                    <h2 class="section-header">
                        <span class="heading">EXPERIENCE &amp; EDUCATION</span>
                    </h2>
                    <div class="section-content clear-all">
                        <ul class="org-list">
                            <li class="org clear-all">
                                <span class="org-img">
                                    <svg class="icon-s32 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"/>
                                    </svg>
                                </span>
                                <div class="summary">
                                    <h6>Juniper Networks, Bengaluru</h6>
                                    <strong class="position">Software Engineer 3</strong>
                                    <datetime class="datetime">November 2015 - Present</datetime>
                                </div>
                                <div class="highlights">
                                    <ul>
                                        <li>Software Engineer 3</li>
                                        <li>Software Engineer 2</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="org clear-all">
                                <span class="org-img pull-left">
                                    <svg class="icon-s32 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"/>
                                    </svg>
                                </span>
                                <div class="summary pull-left">
                                    <h6>Tavant Technologies, Bengaluru</h6>
                                    <strong class="position">Senior UI Engineer</strong>
                                    <datetime class="datetime">July 2011 - October 2015</datetime>
                                </div>
                                <div class="highlights pull-left">
                                    <ul>
                                        <li>Senior UI Engineer</li>
                                        <li>UI Engineer</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="org clear-all">
                                <span class="org-img pull-left">
                                    <svg class="icon-s32 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/>
                                    </svg>
                                </span>
                                <div class="summary pull-left">
                                    <h6>Lovely Professional University, Jalandhar</h6>
                                    <strong class="position">Bachelor of Technology, Computer Science</strong>
                                    <datetime class="datetime">Sept 2007 - June 2011</datetime>
                                </div>
                                <div class="highlights pull-left">
                                    <ul>
                                        <li>CGPA 8.3</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="org clear-all">
                                <span class="org-img pull-left">
                                    <svg class="icon-s32 icon-white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M12 11.55C9.64 9.35 6.48 8 3 8v11c3.48 0 6.64 1.35 9 3.55 2.36-2.19 5.52-3.55 9-3.55V8c-3.48 0-6.64 1.35-9 3.55zM12 8c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3z"/>
                                    </svg>
                                </span>
                                <div class="summary school pull-left">
                                    <h6>Army Public School, Jalandhar</h6>
                                    <datetime class="datetime">April 1995 - March 2007</datetime>
                                </div>
                                <div class="highlights pull-left">
                                    <ul>
                                        <li>Grade 12 - 76%</li>
                                        <li>Grade 10 - 85%</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="clear-all"></div>
                    </div>
                </section>
                <section class="section-responsibilities content-box">
                    <h2 class="section-header">
                        <span class="heading">RESPONSIBILITIES</span>
                    </h2>
                    <div class="section-content clear-all">
                        <ul class="list">
                            <li>
                                Understand user requirements and interact with clients and/or project coordinators.
                            </li>
                            <li>
                                Work with team leads and architects to solve complex design flow problems.
                            </li>
                            <li>
                                Collaborate closely with UX team to develop intricate design features and user interactions.
                            </li>
                            <li>
                                Design &amp; develop application architecture and identify API requirements.
                            </li>
                            <li>
                                Write well designed, testable and performant code that is easy to maintain and understand.
                            </li>
                            <li>
                                Work on proof of concepts (POC) for new requirements and applications.
                            </li>
                            <li>
                                Mentor and groom junior resources in the team.
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="section-responsibilities content-box">
                    <h2 class="section-header">
                        <span class="heading">My average week</span>
                    </h2>
                    <div class="section-content clear-all">
                        <ul class="list">
                            <li>
                                Participate in the usual scrum ceremonies such as daily scrum meeting, demos, retrospectives and planning.
                            </li>
                            <li>
                                Build pixel perfect, responsive &amp; cross browser compliant layouts using HTML and CSS.
                            </li>
                            <li>
                                Build UI components that are highly scalable and customisable using React JS, Angular JS, ES6, SASS and other JS libraries.
                            </li>
                            <li>
                                Integrate application components with the backend APIs or Web Socket data.
                            </li>
                            <li>Implement business logic of application and fix all functional issues.</li>
                            <li>Debug and fix presentational issues on desktop and other handhed devices.</li>
                            <li>
                                Work with other team members to resolve their issues if time permits.
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="section-skills content-box">
                    <h2 class="section-header">
                        <span class="heading">TOOLS &amp; TECHNOLOGIES</span>
                    </h2>
                    <div class="section-content clear-all">
                        <div class="skill-stats">
                            <span class="skill-bar javascript-skill" title="javascript">JavaScript</span>
                            <span class="skill-bar html-skill" title="html">HTML</span>
                            <span class="skill-bar css-skill" title="css">CSS</span>
                            <span class="skill-bar other-skill" title="others">Others</span>
                        </div>
                        <ul class="skill-list">
                            <li>
                                <strong>Programming</strong>
                                <ol>
                                    <li class="item">JavaScript</li>
                                    <li class="item">Node JS</li>
                                    <li class="item">ECMA6</li>
                                    <li class="item">PHP</li>
                                </ol>
                            </li>
                            <li>
                                <strong>Frameworks &amp; libraries</strong>
                                <ol>
                                    <li class="item">React JS</li>
                                    <li class="item">Angular JS</li>
                                    <li class="item">jQuery</li>
                                    <li class="item">Lodash</li>
                                    <li class="item">Require</li>
                                    <li class="item">Knockout</li>
                                    <li class="item">Raphael</li>
                                </ol>
                            </li>
                            <li>
                                <strong>Templating</strong>
                                <ol>
                                    <li class="item">HTML5</li>
                                    <li class="item">Jade</li>
                                    <li class="item">Handlebars</li>
                                    <li class="item">Bootstrap</li>
                                    <li class="item">Foundation</li>
                                </ol>
                            </li>
                            <li>
                                <strong>Design</strong>
                                <ol>
                                    <li class="item">CSS</li>
                                    <li class="item">SASS</li>
                                    <li class="item">Compass</li>
                                    <li class="item">Photoshop</li>
                                    <li class="item">Lighroom</li>
                                    <li class="item">SVG</li>
                                </ol>
                            </li>
                            <li>
                                <strong>Build &amp; Deploy</strong>
                                <ol>
                                    <li class="item">Webpack</li>
                                    <li class="item">Gulp</li>
                                    <li class="item">Grunt</li>
                                    <li class="item">Jenkins</li>
                                </ol>
                            </li>

                            <li>
                                <strong>Unit Testing</strong>
                                <ol>
                                    <li class="item">Jasmine</li>
                                    <li class="item">Karma</li>
                                </ol>
                            </li>
                            <li>
                                <strong>Design patterns</strong>
                                <ol>
                                    <li class="item">OOJS</li>
                                    <li class="item">MVC</li>
                                    <li class="item">REST</li>
                                    <li class="item">MVVM</li>
                                </ol>
                            </li>
                            <li>
                                <strong>Package managers</strong>
                                <ol>
                                    <li class="item">Bower</li>
                                    <li class="item">NPM</li>
                                    <li class="item">Homebrew</li>
                                </ol>
                            </li>
                            <li>
                                <strong>Versioning</strong>
                                <ol>
                                    <li class="item">Git</li>
                                    <li class="item">SVN</li>
                                </ol>
                            </li>
                            <li>
                                <strong>Future interest areas</strong>
                                <ol>
                                    <li class="item">Full Stack Development</li>
                                    <li class="item">Machine Learning</li>
                                    <li class="item">Graph QL</li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </section>
            </article>
            <div class="clear-all"></div>
            <footer class="app-footer">
                <span class="updated pull-left"><strong>UPDATED : </strong> <time class="date-time"></time></span>
                <span class="hashtags">
                    <a href="javascript:void(0)" class="hashtag">#HTML5</a>
                    <a href="javascript:void(0)" class="hashtag">#CSS</a>
                    <a href="javascript:void(0)" class="hashtag">#JavaScript</a>
                    <a href="javascript:void(0)" class="hashtag">#AngularJS</a>
                    <a href="javascript:void(0)" class="hashtag">#ReactJS</a>
                </span>
            </footer>
        </div>
        <div class="page-back">
            <header class="app-header">
                <span class="tab">PROJECTS</span>
                <span class="flip-btn pull-right flip-front">2</span>
            </header>
            <article>
                <section class="section-projects content-box">
                    <div class="section-content">
                        <div class="project-detail jtacwb">
                            <div class="summary">
                                <h3 class="pull-left name">Renewals 2.0</h3>
                                <strong class="pull-left client">CRM, Juniper</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">12 M</span>
                                </div>
                            </div>
                            <div class="description clear-all">
                                <p class="intro">A tool used by customers of Juniper to maintain and renew contracts of hardware devices.
                                    This single page application is based on component based architecture. Components build for this app
                                    are generic and can be reused in any other project.</p>
                                <ul class="bullet-list">
                                    <li class="item html-skill">HTML5</li>
                                    <li class="item javascript-skill">React JS</li>
                                    <li class="item javascript-skill">Redux</li>
                                    <li class="item html-skill">Material Design</li>
                                    <li class="item javascript-skill">Webpack</li>
                                    <li class="item css-skill">SASS</li>
                                    <li class="item other-skill">Git</li>
                                    <li class="item javascript-skill">NPM</li>
                                    <li class="item javascript-skill">ECMA6</li>
                                    <li class="item javascript-skill">Lodash</li>
                                    <li class="item other-skill">REST API</li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-detail jtacwb">
                            <div class="summary">
                                <h3 class="pull-left name">JTAC Workbench</h3>
                                <strong class="pull-left client">CRM, Juniper</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">24 M</span>
                                </div>
                            </div>
                            <div class="description clear-all">
                                <p class="intro">A dashboard based CRM application that helps the support engineers to search through customer cases and resolve them quickly.</p>
                                <ul class="bullet-list">
                                    <li class="item html-skill">HTML5</li>
                                    <li class="item javascript-skill">Angular 1.6</li>
                                    <li class="item html-skill">Bootstrap</li>
                                    <li class="item javascript-skill">Gulp</li>
                                    <li class="item css-skill">SASS</li>
                                    <li class="item javascript-skill">Bower</li>
                                    <li class="item other-skill">Git</li>
                                    <li class="item javascript-skill">NPM</li>
                                    <li class="item javascript-skill">Jasmine</li>
                                    <li class="item javascript-skill">Karma</li>
                                    <li class="item other-skill">REST API</li>
                                    <li class="item other-skill">MVC</li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-detail r7-lol">
                            <div class="summary">
                                <h3 class="pull-left name">Winfield R7</h3>
                                <strong class="pull-left client">Agronomy, Land O Lakes</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">18 M</span>
                                </div>
                            </div>
                            <div class="description clear-all">
                                <p class="intro">A web based decision support app (SPA) that used geographical information systems (GIS) to provide crucial information on agricultural planning.
                                        Users could plot polygons on maps representing their fields and enter critical information about projected yield. It was primarily build to work on iPad
                                        and microsoft surface for farmers working on field.</p>
                                <ul class="bullet-list">
                                    <li class="item html-skill">HTML5</li>
                                    <li class="item javascript-skill">Angular 1.4</li>
                                    <li class="item html-skill">Foundation</li>
                                    <li class="item css-skill">CSS</li>
                                    <li class="item javascript-skill">jQuery</li>
                                    <li class="item javascript-skill">Grunt</li>
                                    <li class="item other-skill">SVN</li>
                                    <li class="item javascript-skill">Require</li>
                                    <li class="item javascript-skill">Highcharts</li>
                                    <li class="item css-skill">Compass</li>
                                    <li class="item other-skill">MVC</li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-detail fox-sports">
                            <div class="summary">
                                <h3 class="pull-left name">
                                    <a href="http://www.foxsports.com/presspass" target="_blank">Fox Sports Presspass</a>
                                </h3>
                                <strong class="pull-left client">E-media</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">7 M</span>
                                </div>
                            </div>
                            <div class="description clear-all">
                                <p class="intro">A web based application used by Fox Sports for broadcasting and publishing all their media events and similar activities.
                                    It was a full responsive application build to work in all kind of devices. </p>
                                <ul class="bullet-list">
                                    <li class="item html-skill">HTML5</li>
                                    <li class="item html-skill">Bootstrap</li>
                                    <li class="item css-skill">CSS</li>
                                    <li class="item javascript-skill">jQuery</li>
                                    <li class="item javascript-skill">Handlebars</li>
                                    <li class="item other-skill">Adobe CQ5</li>
                                    <li class="item other-skill">SVN</li>
                                    <li class="item javascript-skill">JavaScript</li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-detail fox-sports">
                            <div class="summary">
                                <h3 class="pull-left name">AMPT</h3>
                                <strong class="pull-left client">E-media, New York Times</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">12 M</span>
                                </div>
                            </div>
                            <div class="description clear-all">
                                <p class="intro">Advertising media planning tool was an application used by NYT to manage their advertisement campaigns.
                                    The user could edit/create new ad campaign, configure their dashboard, generate interactive reports on data etc.</p>
                                <ul class="bullet-list">
                                    <li class="item html-skill">XHTML</li>
                                    <li class="item css-skill">CSS</li>
                                    <li class="item javascript-skill">jQuery</li>
                                    <li class="item other-skill">JSP</li>
                                    <li class="item other-skill">SVN</li>
                                    <li class="item other-skill">Photoshop</li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-detail success-trade">
                            <div class="summary">
                                <h3 class="pull-left name">Success Trade</h3>
                                <strong class="pull-left client">Trading</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">9 M</span>
                                </div>
                            </div>
                            <div class="description clear-all">
                                <p class="intro">A single page trading platform build to cater major requirements of small traders. The application followed dashboard based approach containing floating widgets.
                                    System allowed users to buy/sell stocks in real time, manage their portfolio, perform instrument search and view advanced charts on trade reports etc.</p>
                                <ul class="bullet-list">
                                    <li class="item html-skill">HTML5</li>
                                    <li class="item css-skill">CSS</li>
                                    <li class="item javascript-skill">jQuery</li>
                                    <li class="item javascript-skill">Require</li>
                                    <li class="item javascript-skill">Knockout</li>
                                    <li class="item javascript-skill">Raphael</li>
                                    <li class="item other-skill">SVN</li>
                                    <li class="item other-skill">MVC</li>
                                </ul>
                            </div>
                        </div>
                        <section class="project-detail">
                            <h2 class="section-header">
                                <span>ACHIEVEMENTS &amp; ACTIVITIES</span>
                            </h2>
                            <div class="section-content clear-all">
                                <ul class="list">
                                    <li>
                                        Received Department Spotlight award in Juniper Networks for rapid delivery. (2017)
                                    </li>
                                    <li>
                                        Received Department Spotlight award in Juniper Networks for surpassing expectations. (2016)
                                    </li>
                                    <li>
                                        Bagged the Rookie of the Year award in Tavant Technologies. (2012)
                                    </li>
                                    <li>
                                        Secured 93 percentile in NIIT 6th national aptitude test. (2009)
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <!-- <div class="project-detail others">
                            <h3>Similar Projects</h3>
                            <div class="summary">
                                <h3 class="pull-left name">AMPT</h3>
                                <strong class="pull-left client">NYT (New York Times), USA</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">7 M</span>
                                </div>
                            </div>
                            <div class="summary">
                                <h3 class="pull-left name">TWMS Mobile</h3>
                                <strong class="pull-left client">Ingersoll Rand (IR), USA</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">2 M</span>
                                </div>
                            </div>
                            <div class="summary">
                                <h3 class="pull-left name">DealerNET</h3>
                                <strong class="pull-left client">Doosan Infracore, USA</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">3 M</span>
                                </div>
                            </div>
                            <div class="summary">
                                <h3 class="pull-left name">E-learning</h3>
                                <strong class="pull-left client">Trelleborg, Germany</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">2 M</span>
                                </div>
                            </div>
                            <div class="summary">
                                <h3 class="pull-left name">
                                    <a href="http://www.cnbc.com/id/100746255?region=world" target="_blank">RAM</a>
                                </h3>
                                <strong class="pull-left client">CNBC, USA</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">3 M</span>
                                </div>
                            </div>
                            <div class="summary">
                                <h3 class="pull-left name">
                                    <a href="https://secure.53.com/mortgage" target="_blank">MB2C</a>
                                </h3>
                                <strong class="pull-left client">53rd Bank, USA</strong>
                                <div class="pull-right duration">
                                    <span class="pull-left">
                                        <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
                                        </svg>
                                    </span>
                                    <span class="pull-right time">5 M</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </section>
            </article>
            <footer class="app-footer">
                <span class="updated pull-left"><strong>UPDATED : </strong> <time class="date-time"></time></span>
                <span class="hashtags">
                    <a href="javascript:void(0)" class="hashtag">#HTML5</a>
                    <a href="javascript:void(0)" class="hashtag">#CSS</a>
                    <a href="javascript:void(0)" class="hashtag">#JavaScript</a>
                    <a href="javascript:void(0)" class="hashtag">#AngularJS</a>
                    <a href="javascript:void(0)" class="hashtag">#ReactJS</a>
                </span>
            </footer>
        </div>
    </main>
</div>
<script type="text/javascript" src="app.bundle.js"></script>
