/* entire container, keeps perspective */
.flip-container {
	perspective: $width-wrapper;
}

.flip-container, .page-front, .page-back {
	width: $width-wrapper;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.page-front, .page-back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: $color-white-0;
	box-shadow: 1px 1px 1px 0 #b7b7b7;
}

/* front pane, placed above back */
.page-front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.page-back {
	transform: rotateY(180deg);
}
