@-webkit-keyframes cloud-movement {
	0% {
		opacity: 0.3;
		transform: translateX(300px);
	}

	10% {
		opacity: 0.7;
	}

	90% {
		opacity: 0.1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes rotate1 {
	from {
		transform: rotate(390deg);
	}

	to {
		transform: rotate(30deg);
	}
}

@keyframes rotate2 {
	from {
		transform: rotate(480deg);
	}

	to {
		transform: rotate(120deg);
	}
}
