.wrapper {
    max-width: $width-wrapper;
    margin: 0 auto;
    height: $page-height;
    .main-content {
        height: $page-height;
        .left-section {
            width: $width-left;
            height: $body-height;
        }
        .right-section {
            width: $width-right;
            height: $body-height;
        }
        .section-projects {
            height: $body-height;
        }
        .page-back, .page-front {
            margin: 10px 0;
            background: $color-white;
        }
    }
    &.flip-container {
    	// -webkit-perspective: $width-wrapper;
    	// perspective: $width-wrapper;
    	width: $width-wrapper;
    	.flipper {
    		transition: 1s;
    		transform-style: preserve-3d;
    		position: relative;
    	}
    	// .page-back,
    	// .page-front {
    	// 	width: $width-wrapper;
    	// 	-webkit-backface-visibility: hidden;
    	// 	backface-visibility: hidden;
    	// 	position: absolute;
    	// 	top: 0;
    	// 	left: 0;
    	// 	background: $color-white;
    	// 	height: $page-height;
    	// }
    	// .page-front {
    	// 	transform: rotateY(0deg);
    	// }
        //
    	// .page-back {
    	// 	transform: rotateY(-180deg);
    	// }
    }
}
