.wrapper {
    max-width: $width-wrapper;
    margin: 0 auto;
    .main-content {
        .left-section {
            width: $width-left;
            height: $body-height;
        }
        .right-section {
            width: calc(100% - #{$width-left});
            height: $body-height;
        }
        .section-projects {
            height: $body-height;
        }
        .page-back, .page-front {
            margin: 10px 0;
            background: $color-white;
            box-shadow: 2px 2px 1px 1px $color-grey-2;
        }
    }
}
