.section-experience-education {
    .org-list {
        .org {
            margin: 10px 0 15px;
            overflow: hidden;
            min-height: 64px;
            width: 100%;
            .org-img {
                width: 60px;
                height: 60px;
                margin: 0 30px 0 0;
                border-radius: 50%;
                padding: 14px;
                background-color: $color-grey-2;
                color: $color-white;
                float: left;
                box-shadow: 1px 1px 0px 1px $color-grey-8;
            }

            .summary {
                width: 50%;
                margin-right: 20px;
                float: left;
                &.school{
                    margin-top: 11px;
                }
                h6{
                    margin: 0 0 3px 0;
                    font-size: 1.15em;
                    font-weight: 400;
                }
                .position{
                    display:block;
                    margin-bottom: 5px;
                    font-weight: 700;
                }
                .datetime{
                    font-size: .8725em;
                }
            }
            .highlights{
                width: 180px;
                margin-top: 10px;
                padding: 0 20px 0 20px;
                position: relative;
                float: left;
                ul{
                    height: 48px;
                    display: table-cell;
                    vertical-align: middle;
                    width: 140px;
                    text-align: center;
                }
                &:before{
                    content: "{";
                    left: 0;
                }
                &:after{
                    content: "}";
                    right: 0;
                }
                &:before, &:after{
                    position: absolute;
                    font-size: 3em;
                    line-height: 1em;
                    top:0;
                }
            }
        }
    }
}
