@font-face {
    font-family: "exoregular";
    src: url("../fonts/Exo2-Regular-webfont.eot");
    src: url("../fonts/Exo2-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Exo2-Regular-webfont.woff") format("woff"),
         url("../fonts/Exo2-Regular-webfont.ttf") format("truetype"),
         url("../fonts/Exo2-Regular-webfont.svg#exoregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
