.app-footer {
    height: 40px;
    font-size: .850rem;
    background: $color-grey-3;
    color: $color-white-0;
    z-index: 100;
    position: relative;
    .updated{
        line-height: 40px;
        height: 40px;
        margin: 0 70px;
    }
    .hashtags{
        line-height: 40px;
        height: 40px;
        margin: 0 40px;
        .hashtag{
            color: $color-blue-3;
            font-size: .8rem;
            margin: 0 10px;
            font-weight: 700;
            text-decoration: none;
        }
    }
}
