.app-header {
    height: $header-footer-height;
    background: $color-grey-3;
    color: $color-white;
    .tab{
        border-bottom: 4px solid $color-blue-3;
        text-transform: uppercase;
        height: 40px;
        line-height: 50px;
        font-size: 1.1rem;
        margin: auto;
        display: block;
        width: 80px;
        text-align: center;
        &.cover{
            width: 140px;
        }
    }
    .flip-btn{
        @extend .flip-btn;
    }
}
