.app-header {
    height: $header-footer-height;
    width: 100%;
    background: $color-grey-3;
    color: $color-white-0;
    .tab{
        border-bottom: 4px solid $color-blue-3;
        text-transform: uppercase;
        left: 285px;
        position: relative;
        height: 40px;
        display: inline-block;
        line-height: 50px;
        font-size: 1.1rem;
    }
    .flip-btn{
        background: $color-blue-3;
        font-size: 2rem;
        width: 40px;
        height: 40px;
        position: relative;
        padding: 4px;
        cursor: pointer;
        &:after{
            content:'arrow_forward';
            display: inline-block;
            transition:0.7s;
        }
        &:hover{
            &:after{
                transform: rotateY(180deg);
            }
        }
    }
}
