.left-section {
    background: $color-grey-1;
    color: $color-white-0;
    width: $width-left;
    height: $body-height;

    .section-body{
        padding: 10px 20px;
        .list {
            li {
                padding: 8px 5px;
                overflow: hidden;
                label {
                    width:40px;
                    font-size: 1.5rem;
                }

                span {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    a{
                        text-decoration: none;
                        color:#fff;
                    }
                }
            }
        }
    }

    .profile-badge {
        position: relative;
        padding: 0 0 10px;

        .cover-image {
            height: 140px;
            background: url("../images/cover-img.jpg") no-repeat;
            background-size: 100%;
        }

        .profile-image {
            transition: .7s;
            background: url("../images/profile-img.jpg") no-repeat 0 0;
            background-size: 100%;
            width: 140px;
            height: 140px;
            border-radius: 70px;
            position: absolute;
            top: 65px;
            z-index: 100;
            left: 0;
            right: 0;
            margin: auto;
            border: 3px solid $color-grey-1;
            filter: grayscale(0);
            &:hover{
                filter: grayscale(1);
            }
        }

        .name {
            font-size: 1.6rem;
            margin: 90px 0 10px;
            text-align: center;
            color: $color-white-0;
        }

        .title {
            font-size: 1.3rem;
            margin: 0 0 10px;
            text-align: center;
            font-weight: 400;
            color: $color-white-0;
        }
    }

    .intro{
        font-size: 0.9rem;
        padding: 0px 20px 20px;
        font-family: inherit;
        line-height: 20px;
    }

    .contact-info {
        @extend .section-body;
        padding-right: 0;
        .svg, .md-svg{
            .text{
                line-height: 26px;
                position: relative;
            }
        }
    }

    .personal-info {
        @extend .section-body;
        padding:10px 0;
        .list{
            li{
                padding:8px 15px;
                &:nth-child(1){
                    background: #424242;
                    margin-bottom: 15px;
                }
                &:nth-child(2){
                    background: #616161;
                    margin-bottom: 15px;
                }
                &:nth-child(3){
                    background: #757575;
                }
            }
        }
    }

    .interests-info{
        @extend .section-body;
        padding-right: 0;
        .list{
            width: 300px;
            margin: 25px auto 0;
            overflow: hidden;
            padding-left: 15px;
            li{
                width: 80px;
                height: 80px;
                float: left;
                text-align: center;
                padding: 16px 0;
                &:hover{
                    .icons{
                        color: $color-blue-2;
                    }
                }
                .name{
                    display: block;
                    font-size: .6rem;
                    line-height: 20px;
                }
                .icons{
                    transition: .7s;
                    font-size: 2rem;
                    display: block;
                    font-style: normal;
                }
            }
        }
    }

    .section-header{
        font-size: 1.2rem;
        margin: 15px 0px;
        color: $color-white-0;
        position: relative;
        font-weight: 500;
        span{
            background: $color-grey-1;
            z-index: 100;
            position: relative;
            padding-right: 10px;
        }
        &::first-letter{
            font-size: 1.4em;
        }
        &::after{
            content: "";
            width: 180px;
            border-top:1px solid $color-white-0;
            font-size: 0;
            position: absolute;
            right: 0;
            top: 20px;
            z-index: 0;
        }
    }
}
