.main-content {
    height: $page-height;

    .right-section {
        width: $width-right;
        height: 100%;
        border-right: 3px solid #484848;
    }

    .content-box {
        background: #fff;
        margin: 0;
        padding: 10px 0 0 0;
    }

    .section-header {
        color: #484848;
        font-size: 1em;
        margin: 0;
        border-bottom: 3px solid #484848;
        height: 40px;
        display: inline-block;
        letter-spacing: 2px;
        &::first-letter{
            font-size: 2em;
        }
    }

    .section-content {
        padding: 10px 25px;
        font-size: .9375em;
    }

    .list {
        li {
            list-style-type: square;
            margin: 6px 20px;
        }
    }
}
