/*==========================Media Queries=====================*/

// $break-small is inclusive
@media screen and (max-width: $break-small) {
    html {
        font-size: 14px;
    }

    .wrapper{
        .main-content{
            .left-section, .right-section, .section-projects{
                width: 100%;
                height: auto;
            }
        }
    }

    .left-section{
        .section-header{
            &:after{
                width: 80%;
            }
        }
        .personal-info{
            .list{
                li:nth-child(1){
                    margin-bottom: 0;
                }
                li:nth-child(2){
                    margin-bottom: 0;
                }
            }
        }
    }

    .right-section{
        .section-header {
            font-size: 0.7em;
            height: 30px;
            margin: 15px auto 0;
            .heading{
                margin-left: 15px;
            }
            &::after{
                left:15px;
                width:300px;
            }
        }
        .section-experience-education{
            .org-list{
                .org{
                    .datetime{                        
                        width: 120px;
                        padding: 4px 10px;
                    }
                    .org-img{
                        display: none;
                    }
                    .summary{
                        width: 100%;
                    }
                    .highlights{
                        li{
                            &:before{
                                top: 3px
                            }
                        }
                    }
                }
            }
        }
        .section-skills{
            .skill-list{
                strong, ol{
                    float: none;
                }
                ol{
                    padding: 5px 0 0 0px;
                }
            }
        }
        .section-content{
            padding: 10px 15px;
        }
    }
    .section-projects {
        .project-detail{
            padding: 15px 20px 14px;
            .summary{
                    position: relative;
                    margin: 0 0 10px 0;
                .name, .client{
                    float: none;
                    display: block;
                }
                .client {
                    margin-top: 0;
                }
                .duration{
                    position: absolute;
                    top: 8px;
                    right: 0;
                }
            }
            .description {
                .intro {
                    margin: 0 0 18px 0;
                }
                .list {
                    li {
                        margin: 6px 20px;
                    }
                }
            }
        }
        .others{
            height:auto;
            .summary{
                width: 100%;
                float: none;
                padding: 15px 0;
                .client{
                    margin-top: 0;
                }
                .duration{
                    position: relative;
                    top: -20px;
                }
            }
        }
        .bullet-list{
            margin: 0;
        }
    }
    .app-footer{
        height: 80px;
        .updated{
            margin:0;
            width: 100%;
            text-align: center;
        }
        .hashtags{
            text-align: center;
            width: 100%;
            margin: 0;
            .hashtag{
                margin: 0 3px;
            }
        }
    }
}