/*==========================Media Queries=====================*/

@media screen and (max-width: $break-medium) {
    .wrapper{
        height:auto;
        width: 100%;
        &.flip-container{
            width: 100%;
            height:auto;
            .page-front, .page-back{
                width: 100%;
                height:auto;
                margin: 0 0 10px 0;
            }
        }
    }
}

@media screen and (max-width: $break-small) {
    html {
        font-size: 14px;
        background: $color-white;
    }
    .wrapper{
        .main-content{
            .left-section, .right-section, .section-projects{
                width: 100%;
                height:auto;
            }
        }
        &.flip-container{
            width: 100%;
            height:auto;
            .page-front, .page-back{
                width: 100%;
                height:auto;
                margin: 0 0 10px 0;
            }
            .page-back{
                margin: 0;
            }
        }
    }

    .left-section{
        .section-header{
            &:after{
                width: 80%;
            }
        }
        .personal-info{
            .list{
                li:nth-child(1){
                    margin-bottom: 0;
                }
                li:nth-child(2){
                    margin-bottom: 0;
                }
            }
        }
    }

    .right-section{
        .section-experience-education{
            .org-list{
                .org{
                    .org-img{
                        display: none;
                    }
                    .summary{
                        margin-right: 5px;
                    }
                    .highlights{
                        float: right;
                        font-size: 0.8rem;
                        margin-top: 10px;
                        padding: 0 15px 0 15px;
                        width: calc(50% - 12px);
                        &:after, &:before{
                            top: 7px;
                        }
                    }
                }
            }
        }
        .section-skills{
            .skill-list{
                strong, ol{
                    float: none;
                }
                ol{
                    padding: 5px 0 0 0px;
                }
            }
        }
        .section-content{
            padding: 10px 15px 0;
        }
        .content-box{
            padding-top:10px;
            &.section-achievements{
                padding-bottom: 10px;
            }
        }
        .section-header{
            font-size: 0.7em;
            height: 30px;
            margin:10px auto 0;
            span{
                margin-left: 15px;
            }
            &:after{
                left:15px;
                width:300px;
            }
        }
    }
    .section-projects {
        .project-detail{
            padding: 15px 20px 14px;
            .summary{
                    position: relative;
                    margin: 0 0 10px 0;
                .name, .client{
                    float: none;
                    display: block;
                }
                .client {
                    margin-top: 0;
                }
                .duration{
                    position: absolute;
                    top: 8px;
                    right: 0;
                }
            }
            .description {
                .intro {
                    margin: 0 0 18px 0;
                }
                .list {
                    li {
                        margin: 6px 20px;
                    }
                }
            }
        }
        .others{
            height:auto;
            .summary{
                width: 100%;
                float: none;
                padding: 15px 0;
                .client{
                    margin-top: 0;
                }
                .duration{
                    position: relative;
                    top: -20px;
                }
            }
        }
        .bullet-list{
            margin: 0;
        }
    }
    .app-footer{
        height: 90px;
        .updated{
            margin:0;
            width: 100%;
            text-align: center;
        }
        .hashtags{
            text-align: center;
            width: 100%;
            margin: 0;
            .hashtag{
                margin: 0 5px;
            }
        }
        .flip-btn{
            width: 100%;
        }
    }
}
