/*--------------------- PDF fixes -------------------------------*/

.wrapper {
    .main-content {
        .page-back, .page-front {
            margin: 0;
        }
    }
    .left-section {
        .anim-frame {
            position: relative;
            background: -webkit-linear-gradient($color-blue-7, $color-blue-8);
            .cloud {
                animation-name: none;
                &.small {
            		margin: 0 -50px 0 0;
                    height: 100%;
            	}
        		&.smaller {
        			margin: -20px 215px 0 0;
                    height: 100%;
        		}
            }
        }
        .windmill{
            .windmill-wings{
                &.wing1, &.wing2{
                    animation-name: none;
                }
            }
        }
    }
    .right-section {
        .section-content {
            padding-top: 0;
        }
    }
    .pdf-fix-1{
        width: 137px;
    }
    .pdf-fix-2{
        width: 178px;
    }
    .pdf-fix-3{
        width: 115px;
    }
    .pdf-fix-4{
        width: 144px;
    }
    .pdf-fix-5{
        width: 100px;
    }
}
