/*--------------------------------------------*/
.icon-white{
    fill: $color-white;
}
.icon-blue{
    fill: $color-blue-3;
}
.icon-red{
    fill: $color-red-1;
}
.icon-orange{
    fill: $color-orange-1;
}
.icon-green{
    fill: $color-green-1;
}
.icon-yellow{
    fill: $color-yellow-1;
}
.icon-s24{
    width: 24px;
    height: 24px;
}
.icon-s26{
    width: 26px;
    height: 26px;
}
.icon-s30{
    width: 30px;
    height: 30px;
}
.icon-s32{
    width: 32px;
    height: 32px;
}
.hide-me{
    display:none;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.clear-all{
    clear:both;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: left;
}
.javascript-skill{
    background: $color-blue-1;
}
.html-skill{
    background: $color-blue-3;
}
.css-skill{
    background: $color-blue-5;
}
.other-skill{
    background: $color-grey-2;
}
.bullet{
    height: 25px;
    border-radius: 20px;
    font-size: 0.8rem;
    display: inline-block;
    padding: 0 13px;
    margin: 2px 5px 2px 0;
    line-height: 27px;
    color: $color-white;
}
.flip-btn{
    display: inline-block;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    cursor: pointer;
    background: $color-blue-3;
    color: $color-white;
    width: 40px;
    height: 40px;
    font-size: 1.6em;
    line-height: 40px;
    text-align: center;
    &:before{
        position: absolute;
        content: '';
        height: 0;
        width: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(315deg, $color-grey-3 45%, $color-grey-3 50%, $color-grey-4 56%, $color-white 80%);
        box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
        transition-duration: 0.3s;
    }
    &:hover{
        &:before{
            width: 20px;
            height: 20px;
        }
    }
}


/*--------------------- PDF fixes -------------------------------*/

.wrapper {
    .main-content {
        .page-back, .page-front {
            margin: 0;
        }
    }
    .left-section {
        .anim-frame {
            .cloud {
                animation-name: none;
                &.small {
            		margin: -22px -13px 0 0;
            	}
        		&.smaller {
        			margin: -10px 215px 0 0;
        		}
            }
        }
        .windmill{
            .windmill-wings{
                &.wing1, &.wing2{
                    animation-name: none;
                }
            }
        }
    }
}
