/*--------------------- PDF fixes -------------------------------*/

.wrapper {
    width: $width-wrapper;
    .main-content {
        .page-back, .page-front {
            margin: 0;
        }
    }
    .left-section {
        .anim-frame {
            position: relative;
            background: -webkit-linear-gradient($color-blue-7, $color-blue-8);
            .cloud {
                animation-name: none;
                &.small {
            		margin: 0 -50px 0 0;
                    height: 100%;
            	}
        		&.smaller {
        			margin: -20px 215px 0 0;
                    height: 100%;
        		}
            }
        }
        .windmill{
            .windmill-wings{
                &.wing1, &.wing2{
                    animation-name: none;
                }
            }
        }
    }
    .right-section {
        .section-content {
            padding-top: 0;
        }
    }
    .fox-link{
        display: inline-block;
        width: 190px;
        position: relative;
        z-index: 1;
    }
}
