.section-projects {
    .project-detail {
        padding: 20px 40px 20px;
        border-bottom: 1px solid $color-grey-2;
        &:nth-child(odd){
            border-left: 4px solid $color-grey-1;
        }
        &:nth-child(even){
            border-left: 4px solid $color-grey-3;
        }

        .summary {
            .name {
                margin: 5px 15px 5px 0;
                color: $color-blue-2;
            }

            .client {
                font-size: 0.8rem;
                margin-top: 10px;
            }

            .duration {
                .material-icons{
                    margin: 0 6px 0 0;
                    font-size: 1.4rem;
                    color: $color-blue-5;
                }
                .time{
                    line-height: 25px;
                }
                height: 28px;
                border-radius: 25px;
                color: #fff;
                font-size: 0.9rem;
                display: inline-block;
                background: rgba(31, 31, 31, 0.92);
                padding: 3px 14px;
            }
        }

        .description {
            padding: 1px 0;
        }
        .intro{
            margin: 15px 0 20px;
        }

    }
    .others{
        overflow: hidden;
        h3{
            margin:0 0 10px 0;
        }
        .summary{
            width: 50%;
            float: left;
            padding:5px 80px 5px 10px;
        }
    }

    .list {
        li {
            list-style-type: square;
            margin: 6px 35px;
        }
    }
}
