.section-projects {
    border-right: 1px solid $color-grey-4;
    .project-detail {
        padding: 20px 35px 14px;
        border-bottom: 1px solid $color-grey-2;
        border-left: 4px solid $color-grey-3;

        .summary {
            .name {
                margin: 5px 15px 5px 0;
                color: $color-blue-2;
            }

            .client {
                font-size: 0.8rem;
                margin-top: 10px;
            }

            .duration {
                .material-icons{
                    margin: 0 6px 0 0;
                    font-size: 1.4rem;
                    color: $color-blue-5;
                }
                .time{
                    line-height: 25px;
                }
                height: 28px;
                width: 90px;
                border-radius: 25px;
                color: $color-white;
                font-size: 0.9rem;
                display: inline-block;
                background: rgba(31, 31, 31, 0.92);
                padding: 2px 13px;
            }
        }

        .description {
            padding: 1px 0;
            .intro{
                margin: 15px 0 18px;
            }
            .list {
                li {
                    list-style-type: square;
                    margin: 6px 35px;
                }
            }
        }
    }
    .bullet-list{
        margin: 0 0 20px;
        .item{
            @extend .bullet;
        }
    }
    .list {
        li {
            list-style-type: square;
            margin: 10px 20px;
        }
    }
    h2.section-header{
        margin-top: 6px;
        font-size: 1.4rem;
    }
}
