.right-section {
    border-right: 1px solid $color-grey-4;

    .content-box {
        margin: 0;
        padding: 10px 0 0;
    }

    .section-header {
        color: $color-grey-3;
        font-size: 1em;
        margin: 10px auto;
        height: 40px;
        letter-spacing: 2px;
        width: 70%;
        position: relative;
        float: left;

        .heading {
            position: relative;
            z-index: 100;
            background: $color-white;
            margin-left: 25px;
            padding-right: 15px;
            text-transform: uppercase;
        }

        &::first-letter {
            font-size: 2em;
        }

        &::after {
            content: "";
            border: 1px solid $color-grey-1;
            width: 60%;
            font-size: 0;
            position: absolute;
            right: 0;
            top: 24px;
            z-index: 0;
        }
    }

    .section-content {
        padding: 5px 25px;
        font-size: 0.9375em;
    }

    .list {
        li {
            list-style-type: square;
            margin: 10px 20px;
        }
    }
}
