.section-experience-education {
    .org-list {
        .org {
            margin: 10px 0 15px;
            overflow: hidden;
            .org-img {
                width: 60px;
                height: 60px;
                margin: 0 30px 0 0;
                border-radius: 50%;
                padding: 14px;
                background-color: $color-grey-2;
                font-size: 2rem;
                color: $color-white-0;
            }

            .summary {
                width:360px;
                h6{
                    margin: 0 0 3px 0;
                    font-size: 1.15em;
                    font-weight: 400;
                }
                .position{
                    display:block;
                    margin-bottom: 5px;
                }
                .datetime{
                    font-size: .8725em;
                }
            }
            .highlights{
                padding: 0 20px 0 20px;
                position: relative;
                ul{
                    height: 50px;
                    display: table-cell;
                    vertical-align: middle;
                }
                &:before{
                    content: "{";
                    left: 0;
                }
                &:after{
                    content: "}";
                    right: 0;
                }
                &:before, &:after{
                    position: absolute;
                    font-size: 3em;
                    line-height: 1em;
                    top:0;
                }
            }
        }
    }

}
.section-skills {
    .skill-stats{
        border-radius: 3px;
        font-size: 11px;
        display: flex;
        text-align: center;
        color: #fff;
        overflow: hidden;
        .javascript-skill{
            background: $color-blue-1;
            flex:5;
        }
        .html-skill{
            background: $color-blue-3;
            flex:2;
        }
        .css-skill{
            background: $color-blue-5;
            flex:2;
        }
        .other-skill{
            background: $color-grey-2;
            flex:1;
        }
    }
    .bullet-list{
        margin: 0 0 20px;
        .item{
            height: 27px;
            border-radius: 25px;
            color: #fff;
            font-size: 0.9rem;
            display: inline-block;
            box-sizing: border-box;
            padding: 5px 14px;
            margin: 10px 10px 0 0;
            &.javascript-skill{
                background: $color-blue-1;
            }
            &.html-skill{
                background: $color-blue-3;
            }
            &.css-skill{
                background: $color-blue-5;
            }
            &.other-skill{
                background: $color-grey-2;
            }
        }
    }
    .extra{
        margin:10px 0 5px;
    }
}
.section-responsibilities{
}
.section-achievements{
}
