.pull-left{
    float:left;
}
.pull-right{
    float:right;
}

.download{
    display:none;
}
.clear-all{
    clear:both;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: left;
}
.bullet{
    height: 27px;
    border-radius: 25px;
    color: #fff;
    font-size: 0.9rem;
    display: inline-block;
    padding: 5px 14px;
    margin: 10px 10px 0 0;
}
