.pull-left{
    float:left;
}
.pull-right{
    float:right;
}

.download{
    display:none;
}
.clear-all{
    clear:both;
}
.material-icons{
    font-family: 'material-icons';
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: left;
}
