//SASS variables
$font-stack: "exoregular","Arial","sans-serif";

//White
$color-white-0: #fff; //basic white
$color-white-2: #cecece; //light

//Blue
$color-blue-1: #01579B;
$color-blue-2: #0277BD;
$color-blue-3: #0288D1;
$color-blue-4: #039BE5;
$color-blue-5: #03A9F4;
$color-blue-6: #29B6F6;

//Grey
$color-grey-1: #313131;
$color-grey-2: #adadad;
$color-grey-3: #1f1f1f;
$color-grey-4: #b7b7b7;

$header-footer-height: 40px;
$width-wrapper: 1060px;
$page-height: 1499px;
$body-height: 1419px;
$width-left: 320px;
$width-right: calc(#{$width-wrapper} - #{$width-left});
$break-xsmall: 320px;
$break-small: 799px;
$break-medium: 991px;
