//SASS variables
$font-stack: "exoregular","Arial","sans-serif";

//White
$color-white-0: #fff; //basic white
$color-white-2: #cecece; //light

//Blue
$color-blue-1: #0078ff;
$color-blue-2: #1A237E;

//Grey
$color-grey-1: #484848; //dark grey
$color-grey-2: #adadad; //light grey

$color-primary-1: #283593;
$color-primary-2: #303F9F;
$color-primary-3: #3949AB;

$page-height:1400px;
$width-wrapper: 1200px;
$width-left: 320px;
$width-right: calc(#{$width-wrapper} - #{$width-left});
$break-xsmall: 320px;
$break-small: 799px;
$break-medium: 991px;
