/*
	Resume 1.0
	Author: Rachit Garg <rachigarg@gmail.com>
*/
@font-face {
  font-family: "exoregular";
  src: url(/fonts/Exo2-Regular-webfont.eot);
  src: url(/fonts/Exo2-Regular-webfont.eot?#iefix) format("embedded-opentype"), url(/fonts/Exo2-Regular-webfont.woff) format("woff"), url(/fonts/Exo2-Regular-webfont.ttf) format("truetype"), url(/fonts/Exo2-Regular-webfont.svg#exoregular) format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  background-color: #d6d6d6; }

body {
  margin: 0;
  font: 100% "exoregular", "Arial", "sans-serif";
  color: #313131;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #01579B; }

a:focus,
a:hover {
  text-decoration: none;
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #717171; }

li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

code {
  color: #313131; }

::-ms-clear {
  display: none; }

pre {
  white-space: pre-wrap; }

p {
  margin: 10px 0 0 0; }

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.3;
    transform: translateX(300px); }
  10% {
    opacity: 0.7; }
  90% {
    opacity: 0.1; }
  100% {
    opacity: 0; } }

@keyframes rotate1 {
  from {
    transform: rotate(390deg); }
  to {
    transform: rotate(30deg); } }

@keyframes rotate2 {
  from {
    transform: rotate(480deg); }
  to {
    transform: rotate(120deg); } }

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  height: 1499px; }
  .wrapper .main-content .left-section {
    width: 320px;
    height: 1419px; }
  .wrapper .main-content .right-section {
    width: calc(1060px - 320px);
    height: 1419px; }
  .wrapper .main-content .section-projects {
    height: 1419px; }
  .wrapper .main-content .page-back, .wrapper .main-content .page-front {
    margin: 10px 0;
    background: #ffffff; }
  .wrapper.flip-container {
    width: 1060px; }
    .wrapper.flip-container .flipper {
      transition: 1s;
      transform-style: preserve-3d;
      position: relative; }

.app-header {
  height: 40px;
  width: 100%;
  background: #1f1f1f;
  color: #ffffff; }
  .app-header .tab {
    border-bottom: 4px solid #0288D1;
    text-transform: uppercase;
    left: 42%;
    position: relative;
    height: 40px;
    display: inline-block;
    line-height: 50px;
    font-size: 1.1rem; }

.app-footer {
  height: 40px;
  font-size: .850rem;
  background: #1f1f1f;
  color: #ffffff;
  z-index: 100;
  position: relative; }
  .app-footer .updated, .app-footer .hashtags {
    line-height: 40px;
    height: 40px;
    margin: 0 70px;
    display: inline-block; }
  .app-footer .hashtags .hashtag {
    color: #0288D1;
    font-size: .8rem;
    margin: 0 10px;
    font-weight: 700;
    text-decoration: none;
    cursor: default; }

.left-section {
  color: #ffffff;
  background: #313131; }
  .left-section .section-body, .left-section .contact-info, .left-section .personal-info, .left-section .interests-info {
    padding: 10px 20px; }
    .left-section .section-body .list li, .left-section .contact-info .list li, .left-section .personal-info .list li, .left-section .interests-info .list li {
      padding: 8px 5px;
      overflow: hidden; }
      .left-section .section-body .list li label, .left-section .contact-info .list li label, .left-section .personal-info .list li label, .left-section .interests-info .list li label {
        width: 40px;
        font-size: 1.5rem; }
      .left-section .section-body .list li span, .left-section .contact-info .list li span, .left-section .personal-info .list li span, .left-section .interests-info .list li span {
        font-size: 1rem;
        line-height: 1.5rem; }
        .left-section .section-body .list li span a, .left-section .contact-info .list li span a, .left-section .personal-info .list li span a, .left-section .interests-info .list li span a {
          text-decoration: none;
          color: #ffffff; }
  .left-section .profile-badge {
    position: relative;
    padding: 0 0 10px; }
    .left-section .profile-badge .cover-image {
      height: 303px;
      background: url(/a5b73d1363618b41cb35423413bed7c1.jpg) no-repeat 0 0;
      background-size: 100%; }
    .left-section .profile-badge .profile-image {
      transition: .7s;
      background: url(/063bb907743c38abfde9847ac9daf930.jpg) no-repeat 0 0;
      background-size: 100%;
      width: 140px;
      height: 140px;
      border-radius: 70px;
      position: absolute;
      top: 65px;
      z-index: 100;
      left: 0;
      right: 0;
      margin: auto;
      border: 3px solid #313131; }
      .left-section .profile-badge .profile-image:before {
        content: '';
        background-image: url(/5a458b382831399ac09947cd5e1efbb1.jpg); }
      .left-section .profile-badge .profile-image:hover {
        background-image: url(/5a458b382831399ac09947cd5e1efbb1.jpg); }
    .left-section .profile-badge .name {
      font-size: 1.6rem;
      margin: 90px 0 10px;
      text-align: center;
      color: #ffffff; }
      .left-section .profile-badge .name.letter {
        margin: 30px 0 10px; }
    .left-section .profile-badge .title {
      font-size: 1.3rem;
      margin: 0 0 10px;
      text-align: center;
      font-weight: 400;
      color: #ffffff; }
  .left-section .intro {
    font-size: 0.9rem;
    padding: 0px 20px 20px;
    font-family: inherit;
    line-height: 20px;
    text-align: justify; }
  .left-section .contact-info {
    padding-right: 0; }
    .left-section .contact-info .linker {
      color: transparent !important;
      width: 250px;
      position: absolute;
      z-index: 1;
      overflow: hidden; }
    .left-section .contact-info .linker-text {
      position: relative;
      color: #ffffff;
      top: 2px;
      z-index: 0; }
  .left-section .personal-info {
    padding: 10px 0; }
    .left-section .personal-info .list li {
      padding: 8px 15px; }
      .left-section .personal-info .list li:nth-child(1) {
        background: #414141; }
      .left-section .personal-info .list li:nth-child(2) {
        background: #515151; }
      .left-section .personal-info .list li:nth-child(3) {
        background: #616161; }
      .left-section .personal-info .list li:nth-child(4) {
        background: #717171; }
  .left-section .interests-info {
    padding-right: 0; }
    .left-section .interests-info .list {
      width: 300px;
      margin: 25px auto 0;
      overflow: hidden;
      padding-left: 15px; }
      .left-section .interests-info .list li {
        width: 80px;
        height: 80px;
        float: left;
        text-align: center;
        padding: 16px 0; }
        .left-section .interests-info .list li:hover .icons {
          color: #0277BD; }
        .left-section .interests-info .list li .name {
          display: block;
          font-size: .6rem;
          line-height: 20px; }
        .left-section .interests-info .list li .icons {
          transition: .7s;
          font-size: 2rem;
          display: block;
          font-style: normal; }
  .left-section .section-header {
    font-size: 1.2rem;
    margin: 15px 0px;
    color: #ffffff;
    position: relative;
    font-weight: 500; }
    .left-section .section-header span {
      background: #313131;
      z-index: 100;
      position: relative;
      padding-right: 10px; }
    .left-section .section-header::first-letter {
      font-size: 1.4em; }
    .left-section .section-header::after {
      content: "";
      width: 180px;
      border-top: 1px solid #ffffff;
      font-size: 0;
      position: absolute;
      right: 0;
      top: 20px;
      z-index: 0; }
  .left-section .anim-frame {
    background: linear-gradient(#0077b8, #36b9ff);
    position: relative;
    height: 135px; }
    .left-section .anim-frame svg {
      max-width: 100%;
      height: auto;
      display: block; }
    .left-section .anim-frame .clouds {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden; }
    .left-section .anim-frame .cloud {
      animation-name: cloud-movement;
      animation-timing-function: linear;
      animation-direction: forwards;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      position: absolute;
      top: 0;
      width: 200px;
      right: 0;
      opacity: .5; }
      .left-section .anim-frame .cloud.small {
        margin: 0 200px 0 0;
        width: 150px; }
      .left-section .anim-frame .cloud.smaller {
        margin: -10px 230px 0 0;
        width: 100px; }
      .left-section .anim-frame .cloud.slow {
        animation-duration: 8s; }
      .left-section .anim-frame .cloud.slower {
        animation-duration: 12s; }
  .left-section .windmill {
    height: 135px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 100; }
    .left-section .windmill .windmill-base {
      border-bottom: 10px solid #313131;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      height: 0;
      width: 20px;
      left: 40px;
      bottom: -2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      position: absolute; }
    .left-section .windmill .windmill-body {
      z-index: 0;
      width: 8px;
      height: 65px;
      background: #313131;
      border-radius: 5px / 70px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      left: 46px;
      bottom: 0;
      position: absolute; }
    .left-section .windmill .windmill-wings {
      width: 5px;
      height: 75px;
      background: #313131;
      border-radius: 4px / 60px;
      left: 47px;
      top: 34px;
      position: absolute; }
      .left-section .windmill .windmill-wings.wing1 {
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        animation-name: rotate1; }
      .left-section .windmill .windmill-wings.wing2 {
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
        animation-name: rotate2; }
      .left-section .windmill .windmill-wings.wing1, .left-section .windmill .windmill-wings.wing2 {
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 5s; }

.right-section {
  border-right: 1px solid #b7b7b7; }
  .right-section .content-box {
    margin: 0;
    padding: 10px 0 0; }
  .right-section .section-header {
    color: #1f1f1f;
    font-size: 1em;
    margin: 10px auto;
    height: 40px;
    letter-spacing: 2px;
    width: 70%;
    position: relative;
    float: left; }
    .right-section .section-header .heading {
      position: relative;
      z-index: 100;
      background: #ffffff;
      margin-left: 25px;
      padding-right: 15px;
      text-transform: uppercase; }
    .right-section .section-header::first-letter {
      font-size: 2em; }
    .right-section .section-header::after {
      content: "";
      border: 1px solid #313131;
      width: 60%;
      font-size: 0;
      position: absolute;
      right: 0;
      top: 24px;
      z-index: 0; }
  .right-section .section-content {
    padding: 5px 25px;
    font-size: 0.9375em; }
  .right-section .list li {
    list-style-type: square;
    margin: 10px 20px; }

.section-experience-education .org-list .org {
  margin: 10px 0 15px;
  overflow: hidden;
  height: 64px; }
  .section-experience-education .org-list .org .org-img {
    width: 60px;
    height: 60px;
    margin: 0 30px 0 0;
    border-radius: 50%;
    padding: 14px;
    background-color: #adadad;
    color: #ffffff;
    float: left;
    box-shadow: 1px 1px 0px 1px #717171; }
  .section-experience-education .org-list .org .summary {
    width: 50%;
    margin-right: 20px;
    float: left; }
    .section-experience-education .org-list .org .summary.school {
      margin-top: 11px; }
    .section-experience-education .org-list .org .summary h6 {
      margin: 0 0 3px 0;
      font-size: 1.15em;
      font-weight: 400; }
    .section-experience-education .org-list .org .summary .position {
      display: block;
      margin-bottom: 5px; }
    .section-experience-education .org-list .org .summary .datetime {
      font-size: .8725em; }
  .section-experience-education .org-list .org .highlights {
    margin-top: 10px;
    padding: 0 20px 0 20px;
    position: relative;
    float: left; }
    .section-experience-education .org-list .org .highlights ul {
      height: 48px;
      display: table-cell;
      vertical-align: middle; }
    .section-experience-education .org-list .org .highlights:before {
      content: "{";
      left: 0; }
    .section-experience-education .org-list .org .highlights:after {
      content: "}";
      right: 0; }
    .section-experience-education .org-list .org .highlights:before, .section-experience-education .org-list .org .highlights:after {
      position: absolute;
      font-size: 3em;
      line-height: 1em;
      top: 0; }

.section-skills .skill-stats {
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 0.7rem;
  text-align: center;
  color: #ffffff;
  width: 98%;
  overflow: hidden; }
  .section-skills .skill-stats .skill-bar {
    height: 18px;
    line-height: 19px;
    float: left; }
  .section-skills .skill-stats .javascript-skill {
    width: 50%;
    background: #01579B; }
  .section-skills .skill-stats .html-skill {
    width: 20%;
    background: #0288D1; }
  .section-skills .skill-stats .css-skill {
    width: 20%;
    background: #03A9F4; }
  .section-skills .skill-stats .other-skill {
    width: 10%;
    background: #adadad; }

.section-skills .skill-list {
  margin: 0 0 20px; }
  .section-skills .skill-list > li {
    display: flex;
    margin: 8px 0; }
  .section-skills .skill-list ol {
    flex: 4;
    padding: 0 0 0 20px; }
  .section-skills .skill-list strong {
    flex: 2;
    max-width: 170px;
    text-transform: capitalize; }
  .section-skills .skill-list .item {
    display: inline-block;
    float: left; }
    .section-skills .skill-list .item:after {
      content: "|";
      margin: 0 6px;
      font-weight: 700; }
    .section-skills .skill-list .item:last-of-type:after {
      content: ""; }

.section-skills .extra {
  margin: 10px 0 5px; }

.cover-letter .section-header {
  margin-top: 30px; }
  .cover-letter .section-header::after {
    display: none; }
  .cover-letter .section-header span {
    margin-left: 45px; }

.cover-letter .section-content {
  padding: 10px 50px;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.4rem; }
  .cover-letter .section-content .signature-image {
    background: url(/d706ef5a11df5fbd813429d4a89d27b3.png) no-repeat 0 0;
    background-size: 100%;
    width: 150px;
    height: 136px;
    margin: 15px 0 0;
    display: inline-block; }

.section-projects {
  border-right: 1px solid #b7b7b7; }
  .section-projects .project-detail {
    padding: 15px 35px 14px;
    border-bottom: 1px solid #adadad;
    border-left: 4px solid #1f1f1f; }
    .section-projects .project-detail .summary .name {
      margin: 5px 15px 5px 0;
      color: #0277BD; }
    .section-projects .project-detail .summary .client {
      font-size: 0.8rem;
      margin-top: 10px; }
    .section-projects .project-detail .summary .duration {
      height: 28px;
      width: 90px;
      border-radius: 25px;
      color: #ffffff;
      font-size: 0.9rem;
      display: inline-block;
      background: rgba(31, 31, 31, 0.92);
      padding: 2px 13px; }
      .section-projects .project-detail .summary .duration .material-icons {
        margin: 0 6px 0 0;
        font-size: 1.4rem;
        color: #03A9F4; }
      .section-projects .project-detail .summary .duration .time {
        line-height: 25px; }
    .section-projects .project-detail .description {
      padding: 1px 0; }
      .section-projects .project-detail .description .intro {
        margin: 15px 0 18px; }
      .section-projects .project-detail .description .list li {
        list-style-type: square;
        margin: 6px 35px; }
  .section-projects .bullet-list {
    margin: 0 0 20px; }
  .section-projects .javascript-skill {
    background: #01579B; }
  .section-projects .html-skill {
    background: #0288D1; }
  .section-projects .css-skill {
    background: #03A9F4; }
  .section-projects .other-skill {
    background: #adadad; }
  .section-projects .list li {
    list-style-type: square;
    margin: 10px 20px; }

/*--------------------------------------------*/
.icon-white {
  fill: #ffffff; }

.icon-blue {
  fill: #0288D1; }

.icon-red {
  fill: #ee3b33; }

.icon-orange {
  fill: #ff7900; }

.icon-green {
  fill: #00be3b; }

.icon-yellow {
  fill: #ffef00; }

.icon-s24 {
  width: 24px;
  height: 24px; }

.icon-s26 {
  width: 26px;
  height: 26px; }

.icon-s30 {
  width: 30px;
  height: 30px; }

.icon-s32 {
  width: 32px;
  height: 32px; }

.hide-me {
  display: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear-all {
  clear: both; }

.text-left {
  text-align: left; }

.text-right {
  text-align: left; }

.bullet, .section-projects .bullet-list .item {
  height: 25px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
  padding: 0 13px;
  margin: 2px 6px 2px 0;
  line-height: 28px;
  color: #ffffff; }

.flip-btn, .app-header .flip-btn, .app-footer .flip-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  cursor: pointer;
  background: #0288D1;
  color: #ffffff;
  width: 40px;
  height: 40px;
  font-size: 1.6em;
  line-height: 40px;
  text-align: center; }
  .flip-btn:before, .app-header .flip-btn:before, .app-footer .flip-btn:before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(315deg, #1f1f1f 45%, #1f1f1f 50%, #b7b7b7 56%, #ffffff 80%);
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
    transition-duration: 0.3s; }
  .flip-btn:hover:before {
    width: 20px;
    height: 20px; }

/*--------------------- PDF fixes -------------------------------*/
/*==========================Media Queries=====================*/
@media screen and (max-width: 991px) {
  .wrapper {
    height: auto;
    width: 100%; }
    .wrapper.flip-container {
      width: 100%;
      height: auto; }
      .wrapper.flip-container .page-front, .wrapper.flip-container .page-back {
        width: 100%;
        height: auto; } }

@media screen and (max-width: 799px) {
  html {
    font-size: 14px;
    background: #ffffff; }
  .wrapper .main-content .left-section, .wrapper .main-content .right-section, .wrapper .main-content .section-projects {
    width: 100%;
    height: auto; }
  .wrapper.flip-container {
    width: 100%;
    height: auto; }
    .wrapper.flip-container .page-front, .wrapper.flip-container .page-back {
      width: 100%;
      height: auto; }
    .wrapper.flip-container .page-front.hidden .section-achievements, .wrapper.flip-container .page-front.hidden .section-skills {
      display: none; }
  .left-section .section-header:after {
    width: 80%; }
  .left-section .personal-info .list li:nth-child(1) {
    margin-bottom: 0; }
  .left-section .personal-info .list li:nth-child(2) {
    margin-bottom: 0; }
  .right-section .section-experience-education .org-list .org .org-img {
    display: none; }
  .right-section .section-experience-education .org-list .org .summary {
    margin-right: 5px; }
  .right-section .section-experience-education .org-list .org .highlights {
    float: right;
    font-size: 0.8rem;
    margin-top: 10px;
    padding: 0 15px 0 15px; }
    .right-section .section-experience-education .org-list .org .highlights:after, .right-section .section-experience-education .org-list .org .highlights:before {
      top: 7px; }
  .right-section .section-content {
    padding: 10px 15px 0; }
  .right-section .content-box {
    padding-top: 10px; }
    .right-section .content-box.section-achievements {
      padding-bottom: 10px; }
  .right-section .section-header {
    font-size: 0.7em;
    height: 30px;
    margin: 10px auto 0; }
    .right-section .section-header span {
      margin-left: 15px; }
    .right-section .section-header:after {
      left: 15px;
      width: 300px; }
  .section-projects .project-detail {
    padding: 15px 20px 14px; }
    .section-projects .project-detail .summary .name {
      float: none; }
    .section-projects .project-detail .summary .client {
      margin-top: 0; }
    .section-projects .project-detail .summary .duration {
      position: relative;
      top: -25px; }
    .section-projects .project-detail .description .list li {
      margin: 6px 20px; }
  .section-projects .others {
    height: auto; }
    .section-projects .others .summary {
      width: 100%;
      float: none;
      padding: 15px 0; }
      .section-projects .others .summary .client {
        margin-top: 0; }
      .section-projects .others .summary .duration {
        position: relative;
        top: -20px; }
  .app-footer {
    height: 120px; }
    .app-footer .updated {
      margin: 0;
      width: 100%;
      text-align: center; }
    .app-footer .hashtags {
      text-align: center;
      width: 100%;
      margin: 0; }
      .app-footer .hashtags .hashtag {
        margin: 0 5px; }
    .app-footer .flip-btn {
      width: 100%; } }
