/*
	Resume 2.0
	Author: Rachit Garg <rachigarg@gmail.com>
*/
@font-face {
    font-family: 'exoregular';
    font-style: normal;
    font-weight: 400;
    src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAHVkABMAAAAA+QgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABqAAAABwA
AAAcaUQowkdERUYAAAHEAAAATwAAAGgHFgW0R1BPUwAAAhQAABY4AABP8BtABtZHU1VCAAAYTAAA
ADgAAABQkzyCS09TLzIAABiEAAAATgAAAGBqKIGjY21hcAAAGNQAAAGNAAAB6rnjRJ5jdnQgAAAa
ZAAAADQAAAA0BbYHv2ZwZ20AABqYAAABsQAAAmVTtC+nZ2FzcAAAHEwAAAAIAAAACAAAABBnbHlm
AAAcVAAAT8kAAJQYY5lxEmhlYWQAAGwgAAAANAAAADYAVuVLaGhlYQAAbFQAAAAfAAAAJAcRA4Jo
bXR4AABsdAAAAloAAAOc0jctBWxvY2EAAG7QAAABxQAAAdD2CRwUbWF4cAAAcJgAAAAgAAAAIAIE
AfBuYW1lAABwuAAAAhcAAARLj5UHRXBvc3QAAHLQAAAB4gAAAsccY0C6cHJlcAAAdLQAAAClAAAA
+mhWGHh3ZWJmAAB1XAAAAAYAAAAGoDpSuAAAAAEAAAAAzD2izwAAAADOKDU6AAAAAM7eULh42h3M
uw2DUBAF0XksKS4KKIQUSAwS3/b4lOI6PLCjK51oScDHNTyXUZAoXWVBTas7C3q+erBgZNKzBQur
3izYOfTJpW9+On+/8gcZTAzLAHja1VwJcFRHev7fjDQCIYlDB0hgbISNhQEBNhhjsFEc4nJStpPF
hAU7duGrNrG9rMM6LtZ2EmezCUlq43gd14a1ax1qj6TMLqd3HRmMwTb3jbCELoTQhc6ZkWZ0jWbU
+fp/Pe+9uaSRGHzMX/1eT78+/v77v/p/PUMaEaXSGnqRklbe/+Bqynv6BxtfoFnf2fjs83T7C0++
tIHupSTUISFI1h0ub8NNI9vzz27cQBnffXLj85TFJcRXPCEHSmzcImfMezfsWfoot9UebCAtpY7z
j9MhqqFm6sHVrz2q/aX2d9qb2mdas+azTbMV2p6xvWz7se0T2zlbk63dPt1eYC+0L7dvALxkf8X+
I/tbKNmCdMJ+zt5l70sqTFqetCHp9aQ3ktqTc5L/LPmN5IPJTY5FjvscDzhWOdY6nnNssb/k2KKD
7MfxnmMX2st+FDj24tqlA2odS0lNKUp5KuW1lB+mFMtWKWdSymXC7OaJdloqmmmZCNA60UqbRT0d
4Jlvx8x3ooadsoWHckQn5Qk/niwVbTSZxokKyhTnKQtts8UAnvtpsjhKU0QH5YoSmirKaZqoodlI
80QTLRCNPMZq1FknTtJjopaeEE6M10b/QdPoTdGHEZNoN9rZKQ29F6HVetRIRvs6tHOh7j5gNAl1
nKiZJbowshcje4BZE6XRJLEVOHmBx3ng4EG7erQrw3i9GK8D7bdhjALaRSnoo4vGYpzzaNWIfgLo
J4B+BtDKTyvQSxFarwd2SajVjFo9KOlEiYfGkAN10zBmBs+6C0/a8MRLm/C9WLi5TSXauPGkmWeR
jpKTKGkH3k5FsQFQS45ZjTF7ma4rxEW0qOVxN6Jf2U8nWnWi1IfSAKiRJq6ixIt+/Cj1oNSPuTtQ
koZcBnqfJA4Aq3b0ehU1/FxjE3rcLE7TFsy4GM9kzxcVhkE6p4lSpsY87rkRpe1Y7zyMkYZnZXjm
YR7IV1RaivsyMYi6DVx3M8oOANd64KnzzwFgpeE6iDXdDq7ZiXFljTSyY+Q01Jsk9qKv84znapQ9
BkpsFj9H7RmoPZ7X+gCS7KWHr17uO4/7kZzSiLZOpr582s19OxX996HvC8BR0q8F/UsaSj76EH1L
HuhGCze3c2JVt+L7+2iznQpph+hHnRvAK0n0gfiImtTobqyknflB0riNZjKfVaDvKuDuR9+/5/Y7
KUPxWTPjbFczGodvHsYxwPOfDL7U594LPm2j55FeQP1Xged2ylU4dgKL7bSA5XEXWutz1yU0hXuU
EtkE7q8HX7jAXz7mr8ngpSm456I8D6NNRZ1poMRsJMkdCzDvZTx6JUavwwyaIJVeJZV5GEFKWyN0
biauWeI4eryM3lrQ2wX05gYPHGDZXAfekmuVgVkdo3SUTMLM8ln6u1GrGuN0K/6uQu0BjNWD1Whk
rqnH8/GgSQdanaV8SOY8YLCUJqLVAK0AFkUoWw0dsR7zlXy8nVZi7lmgxjSmsaRoq5Kx02hdiZZS
nnoxXp1aecmhF1Dbi/GcLP21wFDysZT4DpaE1YyVm/VDPSiUCbo6Mfs2lrdsXrE20NQPKrSBAk7Q
0w16ujFmJ+jpRQ8NmF875ucGLbtBx8nANgM9tjG/OjGOF2N0sy7tAjdnKj7QcG1lzdagdK6Utwrw
zGzMS3LyAnEKbQ5ibqX0EGN7BGOdxVglmFstxjjMXCr5JY2mg2pTQbEpLDs2jN3POanRO9G7k/Xd
BJSfANXKMG4AT1xq3GbQRuqCyxixDyNeBo2amZrrg3YCcl2PWUmJcLHEpWNW+ZjTUsxmhdIt61iP
usDVnfQien6VNYQX8paMtUxFygenrUAqQslF8EElUj3wchg10sEB+ZhRGXIVSBrqj2GdKsccBPat
GFeugRNjdwJbF8aXGvsqaNOn1r4P43ajT91mdTAFdA1cwzolheVT1y47MZoN1LMDCG0cGHMsVtEO
TKYhdxMgi26h2ZRNcyDveZDOxaD4EmB2M/0RYB79MaCQ1gHm02OABfQEYCFWZD3dTk8D7qBnAYto
I2AxbQLcSa8DltBm2kp30Q7aTauoGLCGPgV8mz4HrAUdLqLXClDqMbJlT5B+SNZLWa9hzLvh1/QK
r/CLfuFC6hJC9AH8SD7RjWs3SvuQeinhH9BzuBrd4KnEj+uNWupCalf5/oSNdWkEdXskDtf/Ax6+
Pv32DFtjYPg1H8W47qilrRitWeX7EjZWV9h3n7r7kTpD+QsSFIBUuSA/vVjbeqSzokN4cG+AzPWJ
Ntlq2BH7DO7oVeNclrLDOTzj/tzQ6FKSfYlZf/FLORuxW7zN356EVdHlo1h/huv/8vVp8T5jtYPH
Xy52cOkSWUssxfW/xQdcshP1/k28IzaLrZj1v4t/Fd+FpvlcbELuXbE/bPTm6JIEitWofO91k43W
SPrAhun7v9BS4AJP1FrSEvco/eAAD+e+YPr1m7rHqFMmrvD9FFO/WHzB336HdELswvVDWHJZUi65
ElCNXn3ismiEbYZMiAqk+qBGiYfTEkzJvnA9D49DySrzbTOwZVxD6vLKiipw9VH9m94aPo7UHj65
NrDKUWXQtBrD4uZLpKbFHkC/N8ayAAbf+hKn/2CjB2PPVKeJaFf0PDk6vQpfTK6TBWd4y/q9M0ab
XkCNSRXxCV/rwa3AAf4mYXdEkdxu6vFwORtGx/vgsyVax/fQV/qJNROp39V61pq+BWh7Ua4K9kmk
NEJHuNWNlBEu36Pu1VFHO43RToTKZWIsqDgutsd8upevPxH7WPaPjqJ/IU6Kt3Dfhp2Pogbb31ad
tpKT5ApL/at0S5fSyZ5If2V0mtNsY/gCdQZ/S7vtAm3bsbuN4muKSui5E1Y/VOqVOGy29NX9mKk7
ph/fm3g/XlJoaE0bSZPrLj/9Ce/xititcofUmpxWNqlb1Ik94mPQdq84pNahwzpfacWDWlOVtA9P
t3BdJOkYTeeKFqxxR0RpvWlzzN1N3LMtj4PX6vleOkp6ioh9Xk+4Zz28PrzGNfWBcn6TyuyD+eLj
+OvBy6zvvPFJ1Sh8k/qoTy9C15Qb9EiI3dNtE+cumPyk+/SsBc9jrc/oEpG4eQ6nZcI9zASNJnd3
Mb1+0ab2bd5EzUy3aGzjdpr+mLJznyH9VtSK34jfR/Ni2A89FbHX6RhKLlXpYR7bC8tUE01bYC9a
ZvikCZMM0K07NuXi2+mOYtSWOHTf1etns2Tf5srBjgdgzy9HkxVRAy44G1IyAryGlzwjsrFnlDMa
NLKaSjaaQskcHU0FOOR7IppB6TIyS+MBuTSBZHRyIiCXJgFuoRtoOi2ifEAqrQBkURHgRo6KFtD3
AEn0BZXiWgaYSBcBmVQOyKUKwESqBGRSFSCXLgFy6TIgh2oBd+l4TZ0lY6KTT+WupYV0L+vC9i9/
xxxmEQU8ew9Wv1tchZVvE52Qru7rPGoDvH5n2J5jvyVq0SZKgI9blInLwK1FHABOe1HnIrjxxLVK
AGg+EI8e1FdGNMF2uXUfPvEeAmheErn3jDZObL9lROPVc3zDhVXvEAfFf+r+PtZjOP9aJNaGhnN9
4i20OWNxKsz6OPXYgPJGpJccQJkHGlfGUS+yzgtwFKlV8WZgtLMMtmS/2meMOTCS3Qpwk/j55A5r
VFg0m94I5mfuGTti8eQ107xKHAVPNemRKPCOU+wXb2EWQo/HmZFNpYOcyu/oUbzmC1p6I8JUhVq1
0aMzYWM3YafkCtNxEXTj+J4vlOuCEsYeeiDMI/KPcofeIWOoVq8HPNHGWsgfLEOJMOxybxhOcY8J
nXkl1OfEWu+KmHNnlF2RMzSGMJrd+XB4xsXnA9fic8XajcOe9TB/Scsm7xdAlxLYlitIjcGZR8cP
OmGEEid3mF+S5W4Fp3t5Ri38TrUDfH8JnpyMzTjZsnREl3EjknlVcagTfQ3i2sTSGXw3+U4s/cA6
9ay+67DEcLsiPLpuxeMdHMHoVO92AtF4Lagf4/AX6+E7dISN/ZHFurfqcXeM6sW9DZgOiC+QKkGX
2mgyNqKYYksopyRyJzLM2DWYSatVUsUx8euIWnVD9FAXrimZi0Zg28S7/GZOxXFFsVxXFR06Ln7C
O7gqvhfDs9iJVCH2wRL8guv8Ajs47GnER6BiryUq/Ev1jk+g7cngzjN27IJxNvf+3fFqlVHRvBo0
v6pLBPuAXnFIvKnW3WWuzBBeU0X4KjIHe+LyDBvAqdtkbEWcx7dt4tfiZ8DHDUndxjQ/A6mVuUFz
DyRzwd7F+xzl3Q098RFabZd7eVGKfvT3Jt8XvzHjM3HId2cc8u0M7sfCZxiMesW/GuIEU9xj+EDB
XCP8uYP8vFbuGcBr+8WvxKfYG5wC/1WzpT6mx4Ik1sxrQY13RBxX9qoJc6zV7fBQEhyqW0Iiqz4j
SjfAOqU2gZ5sMl+zTUvN63rF8OD7jDIfU+RSQlTMbeqein2v/klByr9OCq2AbgUQdnhnlJ8dUDHv
Ev3df2hkfOg9jenhqNVpt8QFhrKhLfINOPNwG/i5Elx1GFZfcoUZTTw/RA/Hgh6U3MkjSfmugK6u
M3VseLwyHIehY0TcY5URWavm9S7R9V5Q/4b7TKhh+PDQWZ4oPnJDaCm8oR0hMbFmUKGR6WLuSj3m
OoRjzfLdFY8t4d39VxTzgIdUHvpGGCv+X6E0l6cFWLf1hcztqrmXCvX34n3nEW/cwaJ5/MGzNwmb
f2/saKMR5XUb1q6T9doeZXVbonvawNM9Qiyu6qd1wvcfVmvOb0qu+Uwe+0xXeS4B/d2L+ExsCY+n
DKlbLofplibGPw4fX+2Bm414ixs26m3VS6ux16kxJM4Z4uMItCoL9WFg23ri3AP3B/1UPgHjU/vX
gdHsrKyrbYkdBIbwmc5Be7j0vRfP7LDhM3VG0jWKz1QVuQbh+mrYeEuD5Zxci/F2swf6rEf5Lp4Q
Ge4N0Y4u1pAtoVF6M0IRjTrmHpg9DjPW47fy9LAzaIe+7uD36M7w+HZcFq3N4jO5LBF+VxQZ646+
54841+Ef3X7eiG8MGNbLZ5T5rDH/0doDWK2KMH1eru82LPEXwbzgs/hSwrRfEfrcG+sMUNhHo5vp
c7qJJtA8yqMMmsW/0SK6heZSLjloJk2i+Ujj4FXlkJ1m0HgqpKk0JqQX+Z7iZvaFbqA0msNl+TQR
uTnwwuQpbht8sXTcp8EXu5UyaUGCTMFNFsjAHDIUBD95PIMgEJJdwVRKwuynWKAAcyhQEPxM5hkE
QfqU2QoyMa9MjFSAnhLxmQhs7NSAO9FYo1TmbJgXgX6TkHKRW8JPJL3vwlrIz2KA/plLi4Ab8Qzu
pjvUTG7g61JVLtMMrGgG1jQF807F6sv10lQfM2kZ5j0NKR30W0bLAcvoHvDBfJTNx6znY73HYA1v
5dV2gPbyY+dZhH9mgZeIKX972JOFfJ1tKcm2wFTgebeCUH/bXKMCY73l2qQDcytMNmC5ghyeQRDk
6i5Q4EBrB/qbzD0N/ZGcNB7cc6O6EqfpdCc/zWJM0rFq2Xgqf8PoAK00fnuXxLgmg4JZKM0BjAH9
c7HKN4L+47Cm96DPIroPVFlJj2M119OTdD89Q9+hB+gFwIO0AfAQfZ/+hh6mV+hV+hb9Lf09PUL/
ADleQ9V0iX5GjdRE75Itc5Ucf8KRiT/CvB7nM7JV9I38YHclo4O92O12iH3ybDd2yV5AE3bUjbA2
Xbh2iI/h0zSjtBUlLajLJ7jgsezjus6RengJxF/3S7fy9f+QzsWodzpK2TmOSJ0WxwEnsbOT92qk
o/gmrydwP8vlRxKK84fic7YjFfBH9HjDKY7QtqDEqaIZvRi3FzshGacMgPpVYpDb9AAbeZquAjl/
PFF5rFm/KIVf6L/297bgBo/x1kvffTbGaQ8tvnxE7CfcxrZfZ545aUYFQqkXei7FnNnozi1/reW+
Js53CCXXPNJAqF8Zazdsrjr4dCDU00RJK/86zA9JkL8Qa5B1oKOa5alDGS+Idl4GtVx8YqFZ3+ON
GPN2c6/A9xinDM1zino0kXNnVcSqTZxnPNqhS1pFJbRKO+CYKAFmp6BdXFE101HUPI+nR7BXqhkF
5u5QWptRplhRM1Cz3zpb1jE1oK0P9L7ENKzifBVKO2EB6vGtOuquthk16mFXquP/HQq3/B2/Ozir
3hy41a98hj8HtV+24bqXzLN+KvLg4TVxcsRLPw1bhlxXtHeB0LmdXK/iayy1p748v8BKS/Biib5G
Q0VArPKgIqMN5r4Z9qs89ESveNvU/LxSAdRowZ6tBisk7V45LODgSOJVMX+x0BLZxhK/qzPeahzT
o718IrWera0nuq7kmHCd8EAywqQg/F3JyHSyyX3AoCzo1QyvvflXF87I3TloaOFn+B1bLNG04G+c
XJhJM2gufTk9kuyBjioOlz3IjvEeQZ0xLx/hDAPX8yRPnDg0RYthfCNs9tGgx/WNw3zw2loYUbsA
63iXil4NWrVHNBuooqnh/qYnnj2Fyh/ka21kO/FppGdrtviK6PxTGb2Gr1/KPoQPucMcywzx4vR3
UhY9cxK2t1bnLxn1jsVhxi+ALWcCYOVLI6VcVA6vtbF+Af13vRGx4+6hdPnQ+kWteOBrwfU11v2o
OKPng7/giabPLb9SKjU8sTpLJLoPOrgsZCf5U8s7PreKTzbC+7qEVW8DlEKn9/OqfhDU3rDE8vd7
MnIo43VJfBY6g8YCxnM0LoPGAcZwtGUSn4jO4hPRdj4RncVxmnSO9GRTHsDBp6OTOTY0ge4FjOUz
0qn8zxEp9BQgif85YiKflLbzf0aM4/+MsPGpaTufmk7jU9M5fGo6i09Np/Gp6Rw+NZ3F56Uz+by0
pmJ6j3AUL/gxc0UYvYj+HLll/H013cNxO/mR/2lhfubSfFqMNI+jfTISNxNJvum+g7/LVIA5LMCM
b+Yo1i0hS7eEZlMhLURKo4eRnwWYTXfyu+tCpD9Bup3yaQ5osgh0S6IpRttHYrLOijjYa64FcoHn
PAXzDbiD45eLVRRzsRGTS8WzNGBuhUIDZil4iGcQBEKaoyCJI26LUTJ8TE/ywTqsVpG6Eqc19BdG
DRm/02gG1jMZNEoFX6SD4yaAVyaB3nnMWzPBUyvAS0+Bh74H3nmduUb+n0g5/59IFTgDXGEr1Jxk
sxXxv8i8glr/TD+mt2gLvUe/om20iz6kj+kzOkZn0L4SLZqonbqojwa1JC1Vm6DlaNO0fK1AK9QW
aXdrRdr92oPaKm2t9oT2jPac9qL2svaa9kPtX7Q3tLe1d7St2v9ov9X2aMXaJ9oh7YR2TivTqknT
lthqgv/Gpv2BzGsr5f88afdayu+0eXCdy/kHzHL6x+h57a8s+Ycs+fmW/GQeayqPlc/5G7n8YUud
KtslIz/NUj7dkk+33Wbk02Rey+E+p1jKJ5h5es3mNcpnW+pMtdRpsJTbON/P/yWkP70IfQRsbYVG
nZ9b6o+z9CMs+emQyFng0gLIq5TjhZC0xZC9JXQXZH05ZH4l3U8PQAb/lL5Fq6AP1tC3aS09Cu57
HO1T6A/pOfprepl+QIfoMJ9mma7eAEgNsAB1ZOx5OdJ9yB+z3YTrWds8zsvrJi75J8bmgu1WXEts
t/0/ik35BXjaY2BkYGDgYvBh8GNgcXHzCWGQSq4symFQSS9KzWbQy0ksyWOwYGABqmH4/x9I4GcB
AQBoVA+SeNpjYGZiZpzAwMrAwtTFFMHAwOANoRnjGIwYVYB8oBQMMLEzIIFQ73A/BgcG3t9MzAr/
LRgYmJczqiswMEwHyTE+Z9oEpBQYmAC4QAquAAB42mNgYGBmgGAZBkYGEHgC5DGC+SwMJ4C0HoMC
kMUHZPEy1DFsYfjPGMxYwXSM6Y4Cl4KIgpSCnIKSgpqCvoKVQrzCGkUl1T+/mf7/B5vEC9S5gGEb
YxBUPYOCgIKEggxUvSVcPSNQPeP/r/8f/z/0/+D//P/ef//9ffng2IODD/Y92Ptg14PtD9Y/WPag
6YHZ/YO3XrA+gbqTBMDIxgDXxMgEJJjQFQCDgIWVjZ2Dk4ubh5ePX0BQSFhEVExcQlJKWkZWTl5B
UUlZRVVNXUNTS1tHV0/fwNDI2MTUzNzC0sraxtbO3sHRydnF1c3dw9PL28fXzz8gMCg4JDQsPCIy
KjomNi4+IZGhta2ja9L0uYsWLl66ZNmKVStXr1m3dv2GTVs2b92+bfeuPXsZilJSM++ULyjIflyW
xdA+k6GYgSEd4rqcaoblOxuS80Ds3Jq7SY0t0w4eunL15q1r13cwHDjM8Oj+g6fPGCpu3GZo7m7q
6ezrn9A7ZSrD5NlzZjEcOVoI1FQJxABq4o0VAAAAAAAB5wKyAEgANQA9AEEATwBYAG0AWABSAEYA
TgBCAFQAWABdACwASgBWAEwAWwA3ACECeXjaXVG7TltBEN0NDwOBxNggOdoUs5mQxnuhBQnE1Y1i
ZDuF5QhpN3KRi3EBH0CBRA3arxmgoaRImwYhF0h8Qj4hEjNriKI0Ozuzc86ZM0vKkap36WvPU+ck
kMLdBs02/U5ItbMA96Tr642MtIMHWmxm9Mp1+/4LBpvRlDtqAOU9bykPGU07gVq0p/7R/AqG+/wf
8zsYtDTT9NQ6CekhBOabcUuD7xnNussP+oLV4WIwMKSYpuIuP6ZS/rc052rLsLWR0byDMxH5yTRA
U2ttBJr+1CHV83EUS5DLprE2mJiy/iQTwYXJdFVTtcz42sFdsrPoYIMqzYEH2MNWeQweDg8mFNK3
JMosDRH2YqvECBGTHAo55dzJ/qRA+UgSxrxJSjvjhrUGxpHXwKA2T7P/PJtNbW8dwvhZHMF3vxlL
OvjIhtoYEWI7YimACURCRlX5hhrPvSwG5FL7z0CUgOXxj3+dCLTu2EQ8l7V1DjFWCHp+29zyy4q7
VrnOi0J3b6pqqNIpzftezr7HA54eC8NBY8Gbz/v+SoH6PCyuNGgOBEN6N3r/orXqiKu8Fz6yJ9O/
sVoAAAAAAQAB//8AD3ja1b0JeCRXdShct6q7qvfu6n3f1Yu2lrrVarVG+zKj2TSrZp/xNjM23lew
DZ6xjW02swcwNhCzhADBvKpW2+bZDoyBQAwkJAQGvkBISCAgYhOCTYjB03rn3Fvdamk0tuH93//9
vz2qri6Vqs4999yzn3M5nktwHOnkH+QETuJ6VcIVRmqSzv9cURX1PxypCTyccqqAl/V4uSaJgZdG
agSvl+SEnC3JqQQx/vxrX+MfPHcywR/gOJ47xnFcnX+c03MeboaruTiuSzUZl+CvuC6ieAsKd1YR
i6pgX1Js9GNRJ3CGLlVvWVL0BVVnWVJ9pItTiUl2KrpqX79LLslSSioPDG4gRW+EuMUukswcWzDM
GGyyV7bb4WAj95Ji429ri4NOm82JBw5h2Uh+QEJ8jY5vkKvBlS5FV6oLRs6k6wIoiGIoKMLZOm/j
ZLjAO1SJdNVF+k01AhTw9pKUqsDPxo3ihrfN6of52ve+9z18djcc7oRnh7gY2cDVgjDOmscbKJVK
NQneUzOYLXBe50hQsnYt8nI4kvaVVE63tOj2+UNpX7Gu19FfCY5oDH+lh1+JRpMVfkWUeEEJnlUD
gJMABUo1wKnBoXrh1AOnHodqhlMLYCtBupTB4BPjwgvf5DxdpifGpRd+jCdK0LHIByUXvIEeRTzC
4xaNAQOceB2LJq8ZTjyORavHAjc46FGmRzce8R4fvQf+yk//Cp4Zaj4n3HxOBO9ZjDbvjOF1YcLB
Czgch4zjDUeisd41/ykTQUDwOClVAMOAY/oDM40/qQr80F91m2+M32S+ITGTeBx+rjNfE7/WfHXH
TMfj8LP98fjj363UK0/Cf/DxXfivUofZri7fxRMhxnVwfdwQ+RRX8yIV+oKlktovLSmJYs3bb+pa
nPAGjF2Kv6j0O9SwuFTTw7ypohHu6paWVFtXsVjTd+N9egPcJxWVbsC6uESUKlKxmjEtKRmHGgCS
8TMC8jMCMrBvMF0DMEcu05I6rM3R937/BjpH//m7L5nwxKakHErljJq3v6g4zugRe2IA0euHafID
GhdteHxi/Bu/+y7cb16041fVbzAoeceiPe9wdenxXh9exr8O4l8vJvD4xPgzv/sK/aMkflUDkgHe
tphMVdp+h3/T2fo1PLOTPRMudzUB6V8NwlALBHjaED6Ne9zuSKbynZWh5tSSCYdotNkdvmACf9HV
v/KrttknnNrdLztrnCtTreJKHxjjNxCgAq9PymQlX5R4cLEDMWSylShfqmR7ScXtjZFKKmnjXcXB
8kCmQKqB0a3jFqlH2jMp7pqWh7ePX34Xb+w1Htomxrd2yc6JzRMHs/1pme/uzFnftqua6U/whpHN
HZZLLhPsEzryS7vryJ4bt9x0s842TXjya4fz6I5Kr8X4bzp3VyOYn672WAzAzQrLvxXm+S9yRs7J
ebk418n9GeNutRgSV1q3VHPjuheQiJy6pbrBGhOssHDhNJinp0Ed0E5XQSFnVbNtSTE7VDvQhwin
ogOZnpqA04RDzcBp2LakdsOn3Sw7Fw2Cy5v2VdVMQnY+7g4EozFPKg8XONXgAvz5wog/NWiVnarI
VauKU17UE7Md7ujrdw4Mlopet5hK8m4vRVnSRUqkY2Cw6AX0JjMVUbssFuYOHJybO3hAyl+dz1+d
JV8caUwS55wyB/8mSf7qzs6r8+SNPzp27EfHSOJT01MLe6fPvY6vnZv/yrXHjl173bFj1y1MTy/s
nZpE/ji9/N/8d/mnuB6uwilcrQuQpGTY+kvSFZfWL9UsiCxZWKr7yl0Wa5cSKak+cUkJFWu+Mi48
X9AIQmOILrdeeUnpdSju+FlZlWDpSQXVbcJLaongKlZj5iUlWKzFSviXsQgs2ZiDsdCCWgVUljhA
pWCxdwFelICs5KpKzKnYAIs+IBNVlwPMybIiAdIqA4OVci8pA0GWikCMqaTocXuRNj0lT4qe+gCj
WRtJAQLd3hLcDvdMj20eHQxv3L/tyLQpd/1lG4e3PWXYdMcdkdQWU8/oFY7uK3dee+TI0JZ7tn1x
z8T/2nNE1Ik7to1s6jCbJoXurbP9d945/XQqOmbdV8jtvmVjmcwvVkGMcQTlGHc/lWNJJsU0EUYU
XZv8UvUtiYXSCiQV/u3g8mEyJ3g5C+fiiGKlqJTMwN7YzTBQn414HD6plwyefrP5siNfNL/5NBn6
0s8H8n3fe6TxyKX5gZ/jc+LwnCI8x0qfY8P3qib7EpIwPMc3BsjCVYpLVopfeuTIpaY333nnm99Q
+v5nHvleX37gZ19++ucDHIxgkNxE3s4vcjp4kpOb42oGHI/ZyEnAMq0g+lwFRTxbN9IhLSZFydZk
qKobJtEoglpgQcqHhVEnOovDScncVfF57KSSLUk+KStVyhWfNCi/1jx3XBowHM9v3379rfIdfK6/
12u75c6PfvSu6Otv/6i3txhn+B3iDpFfkt9zZm430GpBkUoqATLUF2scQWLiTMauGuHwlAhIkZaC
Yjqr8EXVCCtWV6wZTfg7owS3mYx4auKMXaqVobhcKjOySZWHnph64slJYp5QlAlVpe+eXX4D9xHu
tZyNm+QUU6GuM3IGnFk7nSkDCA/4QVlihVdZC6oDkGAFSlbMVcUgKyZAhQ5VJQHJtqzpSKKUHSwn
Z0k84LSSZM7kDw/Hbc6JhVnLhlF45xz3Q3IbiVB6gvHiYPEHyUnlQIAJMs6GRk+VcsIzR/p/ODlJ
4Z2B48MAr53LczUrsj4daHfNE6I4KNxGeYn+yNojVitvM3Y5jIpaWLbHVzQ2woWWv0B+Qelc5jSF
ESBiYPiAaYXIWzY2XjfFv3DOQvW7ieXn+RDwZAmg2cLVJATCLC0xHmyXGDTAbY2AQaMD50PVmyhQ
qtUIzIAXJYGyUcpliU7PUVoadAzGvQ4xzjuAMzoyyYkriXjVVY3fuac+Mz39mQ+SOz/5ycadn+RJ
4+unTpHBU4yGQMUgUYDdwGW5mg7lAhuAsaDozqoCvNYErxV0wGmIVK0iYVRAf5YHKpJXOXBA/2n+
qk3n5vlUKlCmz6vA4SX+C1yQ2wNrHkfmNyzV7DgyE44sBGR6VnWalmpOCSnOCayyJjnxVELiC6MS
7UdC8VYVk1wTLE4QEordqVhhiKXywDgZIyBQU0mglRKVBXYCs+SpWP96ZoQno9PHLxWvu+yaywdn
v1qY/EXFb/vXzdf0FcKOmeDogclrtv+TboHCObD8PMzZF7k0dwVXSyGcAsyAj0pBaaluNqV8IPrM
AoDcgStbjcNk2JGJB+0wniACbIf1hVIPjI0UAMwhwAqpKmanGo5Qeaa6g/DpcyqeKqqM3hIVWV2k
XALG0z4IyRMlPi/w5gHxhvm9G6s777xzS4EM795zRDp55OZLTkwM8vyJW4/qN5lGto5PzJKpDeNZ
w4xz46EH3Trzvm1XXYpjKgBxAf/k3NxOruZozmXdKToICClzSXUKaL3URIpu0QiiBiS4VQ9j9BQU
x1nQFYGklhRTUbE7VCOIIGMBVXeY9BApCSKIjzJMfskjAU9IJDOFr+x/2mB3PmefOXhwT+NfO/PE
TT7SuMLt+caNjS+PGz/96RlOw/UL5F8ArgT3JFeLN3HtRFx7EMFJiuAg0FpKUziXXnqQ2gLOXpsi
n9GrHteLNsV75omXPGdiTAG1OhTzGdXrelHxn4Evixaruan5+11dNTjG3xp/a0q0yc5qDX4JH9yj
VtnrM1s0Xe9x0Ds8K9+ZaqcGgVGrLjdQuirE2aR6cFKb01cZ7NUVCCh0roSUQF1PctsEmDbTiS1H
xnlijISmB8q9dhdxkGt0jR+Ztrz1BmKK9O2qXGzd5JzaGu+JyRa9IPAeB8ltfUo0Hbs2vWFDLkD5
wtTyC7we1k4cZvI6rhZCTGWFpZqImAJSrLt6QiJQpQuR1kcZVhKo0lFUkg61E5apFwRbP3x2JmXn
o2bRlQr1oNLglVWjAUfUk0W11etAtcsMKphirCqirBiYEitoOoONl8YIpUobn0r2ChV3VGCEC7rC
lDc7u2PDniFD9/7SaK+bT+/YcPUuR8/BmZEdgxHzfr0jMZDfUyxv7Zomc5fcu6fHAbqqs3zJrlz8
+OnhHVNxb/feq2cntkzF5C379s+GKH1k4fADoA8TcI2aiHTLUX6BwzQXVAuTR4miVxJSrsFKIkvu
i/mN3zvwJaOl8Sm+Fo+cexs/EPJzKKdnQX8Lgv7mBRnRzd3D1dyIxSDQmxGf2QVYzMTdRsBiBh/f
Q7HoA6L3OZQULm8RzsWCmqKX1AhgUwabP4e/MoP+0QsXcrDaH9MZjFZbkPHheBCIRkYVNiMv6qw2
vKp0OcHqqja1skyZaa640FHXEKn+xbBqQ/NAU2ZnB8YuO9o4culY6ZK3vOn4nrHDB0eqh4+NWCuf
LQ1+auiz+0D7Mr/30r17LnuvWSce2XfpHkL23rKpPDC3u0QGfrWpt3fTbLEI6KvAmvst0FIYsHAL
V7MjFtxNGdMJWAjF7ajch1awEIFxRhyqH9ZgqkiVJBxshMOxARNW/PKjdrcQinfi6ExOIBtOdduB
iuSqEpIVZ1XthBVTM3F+zSwC1hbVMSrKVmCwY6SCmido7riQBnp1QE+V47eVNg1EZTE8e3T7/jFD
39HZzR1Cx46RJ/eSoU3d052CyRnvTe4aIn//+htt6b6FY3M3v3NHyD6py119eVf8xzu2hTODkxPx
kHGerqFZOH6UfB4kawx0+JaAVyKgdqOcj1NPjqOIYh6174BMXRHrSHt5zfdZkP7otll1WNEDyN6K
bLPJFerE4bktoB/9mQbHCLfO60309ZqIt4GSZCsgIKqNo5qiYpRBVaJgjZF27WgtWFuIXUZ1KZE3
+W1yBGGAQ3gY4ZrYuxE0J3JpG2S43srcUfIN8jsOlpqr3OGxEk+ZvL9RJ9uIYeZzM/e/ZQbh5x7i
OfI56oMKNrUtqtaguDAUND8Talkd8LOFPNaAn4cmJr4zPo7v2ATv+Cf2jkq5h5T1nk1kG7zj/Udn
3nI/vAVxlIMb/5b/a0qjF3G1TpyrBMxVsKBKGllGzipyUc3YKZfLMHMTcEYpMxMB7ccuOYNIjz4Z
ZKxiZEp2EAzOmtERRs1BkoGHAzWO6UtFoEWdlMqMCZVB4GWSaw0qc1KfrTNajHw9mOvNRchmkujr
TxF+fHbh+g/ZZB8iEQ78IjHyIuEfSo12lXo35kr7qqWhaLHPdO4z7W48GN/W5a/y9/GbQU+f5t7G
KcWC2itQy68PUCkX1A3wMVFQ/bolJaoNeYauxA5gPh0OajhU4bTqUMdgUQaKqgW+FYqKpaVWz8It
7g6gmFRVHQPKqfFyEUdtlamFuEGGxWu1wIUJeZHrsI0xo2NgTFdBBi+nmCk4ShARVDNJ2mDFRsVS
wiOmxF5dxY1LtSyBrbVV9CZmdk2/c+u2CUPsuurIpg1D3+rov7N/YMDj1PFmUzRY7esh/Jtv23pk
WzoovjjVfVmilooQ07bD85mwRKa3Np7ZGi+NDpf6B7vyCcEZGt023j9ZTYQsBjJhIFIou+voxqlU
bL+OhCKIPxMcjoNcMIPF9XumTdYkgxl9lZSNySKSRd1k4YCTKdYSapiKkdligEWzTJ0VBkCRBKvc
zXSLUcuzf81UCM6hkDN6uAVUjCe+9AK7DCaL4jhjUySHIsIvHY5FowOdVGbHosksu7oWLXjE61a8
/sSXfvMs81bZ6NdRM/uK9zvxzhoc2zQRuGvlG7dIRJuTOZ5MRDSaLFabQ3aucTaB1utCMvW5UtmE
5CoJmWxKMv1IDB0JiT86PNP4ycyRZ/cbDWGZf9DvP3fy+98naeIMRoc4Kg/3L/8PX+SfAMskBLru
VUwvVN2CJgnSIAnCIQdKgrDIdF2OqudKuKg42Xqzwrc4FY0gEtDJE3eCDSuYHEY3lX4ht4zauRIG
NcMEpJZ2KiLq6rKmn2siD4SAJvCyKar/Irnt3/Huu04MjW4dv/T2Twr5G/eOTu57359sHx7fdx9f
M2x9zdbtok46vO+KbdtI39yOIX6a9M3M9iJ/GQVdyQvyzcWNcTUnjsnalG4GtDPczF8F8+5BBd0K
ICsOND0XCSeii0kRnIqeWU1NX4kD4Kugg2T09vddtct46OCJ7dtP3LzduOd17/sT8taH3dPG2xpf
uc085QPa3L/8W/4Q/yRnBAhmuJoBIbA0IZA1CACVJkCeSfOYMWBUO9i9qkFAhUy2oO9LX22hy9FE
kwMZ1P67b37frbe+7+bOQzOXzc9fNnGMrxkfatz40A7+NjJ0O4942LW8TBr8IudDPHg45peq6Sge
YG7NNo+uacf4KUB2BKgICgG1YKxgwQQYJ5dR6fNJiWSEJDwJj7uUQFRkdpFNo988omv8xwjpbJwd
IR7dkW+Obnod+UplUpydev+mv5yeESeZXAHLivwPwOLgJrXV2oQDHQGiuFS32DkEx4LgyBQcB4Bj
LgJVIjgOG4DjpOCU5IFBBo5I4ZEX5kb/6qC+cS4VJ/HGv/CVDZPSTCz18KbG0/TdY2BT94E9F+Su
YXio+TlmTbcRRYi+0gJ8ATgomtPoiXM7VA8wU08BbU86IzWDgCoMKv5ghLrZDHGqAXSdOic6qVNT
EWRKPq6BJvkAi0SNriKDeZxFzI2d+tg1e4x7j+3YlZvaM39k34TpwGtvupwc/sYHPVOG/O23fvAN
08TSuGHzvs8C/PuB181SXjfOcKdIJWq+KfoSrDUOLDi0mqgPB3kbAM4XNfam6IroWtQcN2CgyQkE
Ao77D5CxAwcaX+JrjZ+S0Ll5srXxKJsreB/3v6jPIqHNVdNxgY9Hux9/9K0n7j+AHlP2t9Hl3xKO
wprjQN0D7PIwxbxD5fQsGkGh1J1tA2ocaKsMj0E2EDUV5w/MTg7pxrbx6XP/vG1eg4cfgWd6QINj
47dr45dKdb2Tjl+PZENDcaqHjp+yJw8qqHonzpAeVrlqtrDlVAJluwTsEviPF3inkAI5v3+/uPfb
Fz9jCYbt377shwsiX/t+LkuyjX91BvmQp/F1MpNJ/Z7RMqyrZ6lNAmM04hjh7YreoUpiMyhobqHK
oq0gGB/zsC7sn35Rt79+/118/7l/nJqRGN42A0NOUzv4+9oYPUySKXJJjQtLqi9WLNbDJq7FjpP0
FQkT+tcZDyagCpGCGrdTlzuNq8Fvffgrt71lQH/pW89NUGkWAwM6ekYVpRf1igmk3BPP3UellSSa
QJYZ6NGIxxpcWZFMoNuDbcjVRSlqMDJz+TFRMkVj2jfNWPbFKecHA8gkaw4aTVRFiQ9YfIV+8yDy
BdSwsvC5OcSnjoeNd4ku4hRk8S5D9LJ05EDA86AhuiNmfNDt59/eEW0cdm7SmSdd5OPRjnM38a9p
CNEoOXfuAy3a5a+kMcwpDY+yhkdriShhirMQYCXkwJlBjkftOEsIqMPoo6Y9p51SRkMh9vpKGUqh
FE6QUaAe7U/tCVn+NeCVhf3JfSHLUlLv0PHvTIUbqf7SYIm8cO6GVJgsbZFzpXO/B5kwCjzo2Kvx
68krfj25za8HpMq/Cr/e6G2k79ZbG38Xnv/m/Pw330Xe8+EPN679MK8D2XQbGbmN6Z6IoyTIJzPn
5nZrK1xoercMVkpiwBNVk8i8PxpPsVCegs5aEbCG5OUwt6SV07pGWlGhHiAw0wNUXO394KmLj75u
9/Y/2V4d3nZNFqTV4d8dNjaeJftJ9RPDBPWRseUKfxHFkQwy68RaLDlAg/MWVI+ByasVZNk0ZAXQ
RAJkPYrIcrqQE+tl1eNF+CQPwOd0VasU6HURqElWVwVjdWMtRJ48sWPHiZPpwLUPhe8+D6Hn+sp9
3gPBFbyOAl4xlvZ2zcNpszc10igg1+2jyHUjs0pQxHpxhRYVr0MNMcQyR6INhpPU1us/PFdiSqkd
1U/F5lCsZ0BrccDCo0e63EJekE2CyVjFwfpA61LxXInK5+tbMZLK9oJJk6KzU9am58HXH98wE+41
Tx8btXZvPOF43/zw8Py1OE8LNy7sNeqlUv4fv59NkMY/k6vJ4LatZcJ8ussvgI7xBS7PfYCrBTg2
TiUKw2lGn6lrt7OlX9gdyIhw3GoXG+Cvbn96iQ0w61AyZ1Sn/UXFdYZbdLoyWcpeWmd0pHZcnyGw
35SUXDMFoiiNvUCG6IFWTVH0Yhm8eFHPAl8Ygi15Ne+VB2OtTZUT/Q4lLeTaSyoYdL19j3jJpRhV
zfbdv33s8juveY34rgGjuLua7Xvn5nEWZOWdE3qduytT6bWkaJzVNanvnK32WNLOoxQnoF3wPcCD
JG5Y81mhUFA5QIzAEjTEs+i1r+lFGooXjF01UU/9rujm1rI0wHJOgaD2855/PsAfn58/9yH+OONx
u4GXzMHzZa6ieW9EiQkexQRMztmUPYrgwIepFsC1C41jATixnfrpkZlRjVuTu5ndB+YOH9p84Po3
3X8TMZDPNPZdt3//dfj5gVOn8J0yjGknvNPO3d70nMAEoy+uRgxGMLuaYRICa5Iwy0qLllAi/sxz
/7tlWdnPwB0Kf+aJ0UPPfZVdBctKOgNrGQQRt8hLJjub+OaZZuy4SsiKBysouZEVy4c/bhNDJvPH
Dv+9MXAwJIEa8k/FQD7FJ89dHghQXMWAsbwP4M5yT3G1NMoDfwlBB+OwZkLoOeIG6NUYXIrC5OTa
B4FGtgcGkWeDeHri+ctbg8iCBQij0J154uljv/4uFahREKihM2BsvKjYcIiLPNGBPRh1LIajIRCj
8LXN3INr1PHMW22hcLbpeOZ1+DWaXWPmtUY+2BRIK1igRh89zWRjR6/mLT6D4Sp95OKQdJVJFzDq
rjl6vxQ+HtFfLZo89quk8AmriwdM/btxWyFDzkUiDaE/PeLnQ+euCIZ4KTgwf+7FkN0MuAMM8lsA
d1auX5OlxlKNRzITS3WdheOtlAowdEpjpqoOTRZioELAJYCCBSBSAR/40qMXfSTykYse+/LFnw3+
BTlBtjfOgsmw2HiIzDSewnkya2vGyhW5mqXp51UMJRqYtVAJRC0lM75Dr8PFzlma+VQrdOFJlc3H
3m1xSQ77u4/+FBTTxj/5B7sTJN2Y+PXz8J4+eA/QCdhm3RqHlpo2kYBc2VTALCSQF+hqI1SVpwy0
TBKwIMHa6CPXN95Pvt54D7llKx/euvXcT7Yi/IeXD5O4wIF9U+AUe0G16Gg4X6drWTMm8xIoxDSS
CqaMoi9q1oxPRgeLJ5X0oIYIn4djvneetNlOvnPwOqHqjw45XvoPxxCnxRL/oxlL5FbHEl0lkgpt
Im/ZBDNrgXvzy4e55wAeGeGRC5ilhfAYEB4njXRbAR7BivAIHM0FQh6B8KA2PoBxKPQCofcrf8Ju
P/EOfzTqf8c1DsHjGIr6X/qaP8r0fXI9uZ8/ALwuwcELMBeNGDkjhns1R6BKJJmZ065KyScBrUY/
OPpA8l2Gd5P7vv1t7+c+x/IBlr9IXqJeiaA2LwLyF27VIEtg7G1EbyKL20b4IPc7/h/gb+KcIhTw
xWZd006p8zLmEzTRU/FJkb5HIvx7Jt+TRVldAjvlB+R5oPEc93ot68WHr40AOdgIh9xyqa7r8Nma
RJ6nsxgEthqkIozOIHxzOlQX2IiuAg2zBDnNzEDpZLT5UBC5nIobY9o+GU+Y91axoTuy6VlmQpjF
+5qONxoDAJsR8zDAfixtmvhGZ3XuLYb7TizsnjalXjM6vWN/Osfz6d6+/FPJyOlydbyrN2Md925a
aHx6Z2pw09ZMCpSgS0kyDuPdtvwCr+Of4mxcmDugcXD0BqDUqEk43gCSf4TJaTu1IO3MiDDByoui
rszRecSQkWSlHgorC4IFZNVENb8KNaw0VYM5K1DTx2CmKG1bMO4/cXjh4lvvsI2OS+KmYUL6ZlOT
/T7+zx7bmDn4ujfdc8dBmey6/PLtyQyTc4OgW3wF5siN/guadWlD3xRhfgOqmhLGGDAQqdpcLN7A
/DiO9f04zA5HO2zwNacvHjVPTR2YmTmwc9w4d9Gpy0nwRl9FnH/NlfOmaoDpdEMAwy8Bbw6wKF7D
1cxIJ7amm8xAs6MQniDCE245yJh3DNeUyU59PDQ5qkBNDR8aooIN6MIsq3oLIjKI+hqHRKN5DirU
c5AZJU1/wSCV1hUZhjB04OKL5nULU4ajxw/t2l8azYwNXlye/M3bburpHnj/uZmNu08/++0dkQyx
hhB+xOHPAIcumPeTXE2mvqgmFgHqutEto0pqFFuzj3EHdxEVazSh0bGHs+8zooJpkZGgRVBQ7Qi4
RaYaBZK0Db0h1J1Ogfd6vF2gaGm4zlSAqVAyGLzi1muO86/9N2lmx559xsk3nLrq4N+WyeDk9pHf
vP2GHTvfunfYUg3d8vG5Qm6a0kAYDm/j/wZoYF5bpbg4FVKiHl6uiAxbBPPYoEWqXTSHxQlYtxZr
ThdNI3CAfuWicW0X6ldeTb/CpYdkkUI3UokqW+EDU9v2lqXjfdkPfWiBfGJMd2DTnDTe0TM/3ThC
PoHcKb88yPsBn3muDFT5Q67mQESOAnd1FhnfGAW4sgW1R1gCK0WtIl7HC4r5rFqxLikVh9KJ+j1n
XsK4SaeZXgrjJS1bOGzBS+oGVD3gD/rwV2nzkjrBdJDf/PLMN5kOMuBQSmfUuPCikgCdKZ4oDTCd
qXlGleUKWmgCWALqhrDsfNzht2V7hqqjuDY8suKCKfT3gDnE6cNpzMYbxSCw2RWkQTrfwGAlUx4o
0yNiqmQn2sKGZeRbUaRXwpUFIjoxXInsLJ/uSgqpsaM3z3Y/oJ9zH7tpqMfKGzoem6mceOM9l+8Z
OXxwNFb+ZMkx/K7h6ua5wa4BX6hL0PWFEsf2zlkKYqK6e7PJ4ZKMITFimhxbmJo8VIoniumgwZcl
d1+az1+aR/pAB9HvYH26uO2ajmIqtTE1u9DytroYU3OxNGNkauhwdWlMzYzGAtfkcU0fEYzagwkt
yDkkeX6f+NpL79kXy+T3TPBPPT2U3X9f471koS+TzjU+CmsNXWCf4R8DXcaO2oWlZVdjsriVoChz
oC4DZEtZrFjUkolcZfQzRAj6F1A1nw/mgvBPt5e/rBoMVoPnHic/a7A8gNBymfsLeIcBVkSWY9mG
LiNbz3QB8GcVY1HVw+PtRY3UfZqaL7W/JzS0UOwWg7lAIBf85OwCeb5hHT6eEHrpCxn/Rdw+C7j1
cJtW+90obtHzJqHnTc88b4TZHG7meRPIBTxvsptmRaPnDQ1R9LzN79NPPHjZB+0ut+3Tl316Ss8/
1XimP/noosfC2/2/eKEn8UkGzw6Q2TGAx9LyLYLdg2kqhpbfjSUDCvZmMiD63UQttTGzY4EkEwVT
aKwycRO/+dzX44lJ6yQbp5CANR3DGAjVPaxesNoJDLKmJ1TtxVg4rHAtSKvG4AU8LNQY45FeWMZe
5oew2mnMWI3xNIFN9SJBSSDuZXSaqSFUDwRJw4UPV5Um9GUmJduobaP+8otPei67ZHx6L0nlUpMj
uzuycCQ/235w376ZKSS9nny8u/FRstCbi3c1Hm6tBxiLjPySzpmhbSSqVVhqGoiyNgaZGYkGOzMS
ZQY4snQ9AEzz8oQVcNuXw5z42uP3LMQzuV3TCFRzMeQbH2OyswJ2KgFYjADNJi0OYm3KHlmDhEnw
VuawZqraVzxLqGUsEr3Y8tdooRCeMZpk5Yo7Tl1++ak77CMPj44+fDnx33xz4+c3kyu/Mz//HRb3
n1+u8BaAwwHS5BK2LjFPhqFF1HQfYMdNAeiAxSMXKXIcTAUyaiqQQ0OOV66ZLSL1tbgsLMIFSpBR
oGwTEKXlyIigAkWI7G1lyEjzG6XsteX9Ow+c2SucHJwa6N+Q2Vp+hlfmO/vuvPutNxWTE28nHdEt
rzm5O5XTcFghvwTYbaB/7NNgdzZxiGBLhabioXlXPEzxQLmN6obHjhRnoVKbplYGcDlyprXKhpwq
D1RWmDmoGl3ERioXv/7W4/sMF122sHt/71hutjg2at1S/fW9b0ieO/nn4x07Xn/q6K5YigRlfscK
zzgN8FrQ98FiBy3ik9ATxFaoBYnPRlepamFI1WyuFq1tIBIjsynjDRd5TeGOHVNIZTsjicZD7F3F
5d+Qb8C7urgHtIyoOCAk7lAjejDpNHJXrA6mHHQzqjdTiu+A9/pBqvYwqfpfv3z63Uyq5h1K7ozq
dr2oeECquj25PJOqzTMqVWVcxZEooLADCCEUR53I79QSqayY6MLJzUSXyqCvqLmfQMUXX8YBVezM
HZOkWw5IDyQkcdzji+XeMVI+duPJg+KmWZttYTjVef9IkVyzKxwkvHVMbzR1pYLGuH3DyELFNqYL
diYCprhtjNqJvyWX8a8DCXFQi+laJBrWsqFPTlOfDFR9qukN1AWlM3a1qU9GO0sBdrVSgF3GddQn
mgIsNzPHM2U5dGDhoYei6S2m3onRCVSf3v2u6ca/pqKT1pkJkqdztnX5efIs+RlwhH3MCmEAitpy
bHdg2VccWHYKvtVC8xqarixVdKxkMxBMorZVmxyfUrCmPG9dIOnOjm3VhRnx2uP33kaubXymN5Po
IMcbgY17ECYnHJYBJhsX0VaYDgiIIzTAhGnL6PRuOWFafhfn4VtNLmv01kM1g3e71wAi+i/C1QWy
0Oj1eOhYQWILMXhuntzG1bLIiwMl9AioekcRsAvPX+SIx4uVUkkd1vA0/aTERN1PntV+0i8d/+Vf
tNxP+aYPbSz9q8/hVb2i77Up0hk1LbyoV5Jnnnj6G7/6LXVLJeB65Axo/XDdceaJ0et+aWeP8TgU
9xkQXIrvjKJ3LIp6LLF5+q/+y06zFCyORavFgfU69GjHo5JwLEYTEfgao8c4Hp8Y2/Zf++mfpB2L
qXTShd5Mqc3TBdfwA57WFkUCe8FercFj8Eu8qkSr3ISDFyWL1e2LRFPpvM0ei6+tsCETbl6P9zjw
pkTyAred5zirrAk9lTR3mdBLmr6zbODACaNkde7Sh7YHpJ28RbASs/7EgXeIoe0WF79TMIHxs0MK
bQuJMNMfjHVuJttC4caj5n6rvmwnlzf6/XYL2WorWbY3HsWEQ8L54PAizP9q/xl5df6zSrbkQ0XJ
BzqS5Pv4B46c8t1x5AMfP/I291t//+wzzzz7+x/+kNLucpE04B1uzF2nJGsoKZaCatVRe4hZxlYL
S67n5LXuMlHKjpFx0DyAmu+y6WwG6+kjX554n6E66Ta4/DjS9+Wd7iy56lzjs9KQc7zP42W8tx8O
fwPvXeNHI6/aj9ZPqo2vk/c3vkpGZ8mRjRsbn5jF5/YuHyZ+gePi3DiH9pNPRzONqd8qUVBCZzGg
7TZjNKrmDiFTcvuNMOgihks41ehDtTNEWW95jGDyks+D9p1XlGDy0fr3iMCpBnr53qxr96FSlnSU
Kx0kWzq0W++xkfyYxdP9tbkZaTBTWBwtmuW+8nO9mUFpZo5wLq8s0bEfWd7PPShYwRr0ca2oOAgz
/NEy+4H3HBn7tPDYS1vg/hyMyQljiuGYYswXh1OuY0l/wlnFVFTDZmpCCmHqkYvBmGxFmn1Is/5U
Z5jqFsXBUUI9KhVUKMqDmJ/m9XlsPHrqsjkcTqXMhuPKhl323Yeuy/Q+V+6TzcXRxQIdyNe6PZYx
kzkUWObmMPpMwHL6MXmaHAEbaoKj8rmECRma3VR3sdI/F2XFdROrW0HWZHQhrqkfQLRS1wtw38yg
D7PVB8slr5iF1ZURPdul7lzH/ZGgqxtOut4aCLp+MjLG84OCEIgPs5NgAnWdfcsj3F+Q52idbR9o
+ITZNtS60NMSWx0rsYUPjOAZulBHo7W1NIsAdJi1GZD7DDPGBVpOSwtrr6jVGt/hD2G6oxMTH5me
OghI+DJfg9mMcg2WFay4SjR6hSvVaHLr0UMCs4aGumIpIYkDHRKYTJx7P0Dlp9GCNmTpV8pu41rm
+pO/S1OG7HYs6tx6LED8wu82UsbpcixKLtHVpV+04EfrF4tW/LroxCP+mQf/bDGER/1iGD9qcKmN
q4aqNbgZz0AlBYO2DhzNE9JiCzpgnPAtvLpe0eRGfcXeSsxdKVcUqPNGSlVojaLPZSODrzklGnoN
Y13mcl9s27Rxbr+xx/iaA3sHJqK7J8jR+29e2K+XqyLfeLe5Gjh2kXTL3Ud2GcjVwg6tJonjRf4L
sA4e1PS1MODRW9SS2KWlOugumMTujJVKKgFByduL1OZqVgSfib6UY7JLcGDugo2GCvXwbZEXooAj
m2PRbnMhyvCI12N4XeAWBZsrqoVYBJvd6Vop3sWiXWBWNOWd1jZlMy13YYyUpJQPmMcg+p7LgwUy
tN2gP3LF/An9pteM9giG7/Df0gvxLm8PyTWG9ht1ZHfx3ms3mTbqekfuKW7dtC8pbN3a/a6tLIef
ez1v42dott0buFoa6duko26imI4l2Aln6xFGQhEHcrS6zEgIU+siAjWEpBB6b5LyosHipemtcNVq
d3lodkDMD9/cHPtFWn6U6O2uSIIlZS+KBouNGlHjJAPKfrZC7c+KT8Lcc5+EulJWcrq9FS/aVVNz
mdymjk3lqZmBuczmbG5LZnN5arI817uwYcPeva/9+Fxpcrq8KTOXy2/OzJVmJsubO+ZyuTmSuHWB
kIVbF5icSMPAN8LainKv1XKvaFzHWKr7/B7O2qU4SpTHO4v1cIReMJfUsG6J1s3B8vKcxdxWzMWy
A8P3UIbvBOYI7N/jxm8eH3wLF3GRqW4M8utEGhuKNIMOJSr1qbQDdVXSytZS5VI5m8qW0offbQgQ
yW1915G/es8j+lrtwOc+p/s0eQdfazxnG+P7w8TdePeAoVz60z8tlQ0DdB6PAv9/iPJ/CTRGGtDl
qFwSbNSpg3LA2JIDAvwcHRsb+zR5V+N6PoNHeMbY8jHybzQnbZh7mNPy0GA1VAtqVMAAOuM1iRIG
0omyoaB0nVW74fndjsVIt8XWpXIydSFixlo3C1W6bEuLEXcafleSl9QRuNLdBWs7H+hBAyUtP+bw
+bO5Qh96+twol0NVpSTXRVnv6WfZmlW4WKmqhrDsfJQT7a6ukpYUPMhMmIyNeERqwEipQWq0YLZE
cUwos2+VkqiZNzYhlRm76PI3HBW33FToTZNE8mOzGc+YPtLzyEC/KF18LBLJYGZ6/GMbM+4xfbj3
kVLRFRss567lx7cN8KYpPdEHQ4m863DHLbumtgUvi06fOz4tEiJafc5Ep/NQx027pzcHL43OVpN9
YYeOB5zu5OfJdv5RzgycfJDhVLGX0PumeIotT1wz2VGygvHMsoBc1iUt07HdQ1ZpO9/pi/jgn+oP
++Eff7Li9zf/sVzaDcvPC0ZaSy1zGe79zNtRt+o4j445AesyPa+nYwb0t6f1S3VPkJ560DrNoiek
bmZr3+zA2KAasdGiC/uKJMnhVbTf0Q+v2OXHDVbB4fEl02zxp2H6klUlKE+YOL1IzDa7yUkXv8ep
rHGeOLzxQUcmLrRSFMVWYCSz4e8+8MC3vvXABz76GNE99ljjpZEDV+0YMkxMzFUqc4f7xbE9Vx34
Ihn45jcaX/8G+Y/Gfy/WiKXW+Prtl9n6hI2f3yj22y9jcnWCmMj1/EUwG3HuFIfaaFCH1RZ1PUUF
BgitulYmjN9GpWiYRdZkG9rpdSdDiLOAzJDW/qkmcxXziWsGqwfJ2umkbuwgze9BrETQrw0mP+DC
RM1DM+XqLMzWjLJFCIurYA57pQxm+UR/93vHS1dI149XqyXD9M6e8nhlZOx0kVySyXSFy4Y+W3H4
30ane4Z6+ycNQpZj/TKyRCHf4ETQ8Dlan+uTtI/uj3afOt3tfrjn1Ome/3J/NVp7LPp19gE8cQt3
D8+RLaDn9DWrJ5pVudQOF1l9pQ30aQGv6tDsllayQspbyGNTxDj51XsZj/3ja1913CAh5HmQyZgL
lgOt/hm2bupuRrl5dPRm2Xk2j8BkPcBvk0VQyut2RtH+fg+Qcd1PvxGlSLVGK5s4K7Vi6zn2LV9U
cg70udRD7EKIEnqTuktYP+VhQdIe+VGjXfDHoki+IafqStGiSSBvTs2iS8uKc52XF0WO3dPvrDkt
IeqJwdRcLfuWxSu08BkINWElEYq6nzNdxIMJ59lBOBu8++iRu+8+cvTu2PU7d1x//Uc8ya1DhVA8
Yop2hs2xjTPpMCGhjhnyL+yuux95+IYbHr6h8QUigAYQjel4XXL3ztBVbybuYNiFeej8JWQP//DK
vOiX8Kd9XgwrEWqYl1Hi5S/BGhmeGyBnSAX4iQG08h2afJB1SzULjX7qmlnsWlE5Buva2ATNJMd4
nYQuVC2XfMWH2uyfkMxqaIHVP7BtsLxt25W+7nisuzsW7+YtV2zdesW2O+Pd3RNdnVrNCreRJ7wF
xmPnLmqr+0GRrRexvKKmo2lMOpuxq6bXUc+SZGRhDxtV4LE0xVCsWW34O6sApGQq1mw0C8GGWQi6
Yqu+GqzEtjLzrRj2p6XmGycmCJm4996J++5DHJMryC0gi/3cZgqRV0/tRRtiKEATrWTLUk2miVay
HxOt5FaiVZBajDRxzkzjmjaZxuRdWEk8yOqAtBpcOxn0lTyj5rt2EZLtmp7SbZneuXH36Wj2w+SK
jGy+Y0cx7DAU7Znq2O43CPwGti5HyMXkpGADHehiTkkVVAG4H9rFqO5Qy7ZVP2xp1g/bWvXD5j+o
fthVeRX1wyO6DbOVro7iwkJ/DDTA+bxu0+ieia2FDOFn94yRq4r6RGc8XSQdsYRP12/OV46ZeXGg
d3IY8/z4IHG/+lyLymf7z/CT75m8laP2by/5L+Axdu4Iy+nUZDGQs4kyOJPF2IyNaW1E6hzlWdi5
wMy6BYk2lg0rmTVvsUlCP7a1uibdHmzATIqGU3L3f/LQ6OTG8OTtV5EvvfVG+dwe/m7dS58iD5lv
bvLNr3GfIKMAVxLtXqwFfPUF/3MrhX7/XsGTpj1JuORyiHtm+bsgFbJIk3XCxJ1UqBs0HmmjHB6G
2uw1ASo30Fu2MuiVbCRpzZcI8aeNo/Bx7Kc9JBsDVSknhrvGZ+jzyRXcPwoi8IYQ16rGt61U4wOd
tNfiJ2+Znhau43/Q1biUbAhaI3QtbyAGchfIZqxRmeY0UYxJLIKuFTHVOrpgxq/ewsKlNHlWkAws
F9mFSb96TjMcteYrg81gcHLD5vpm+Dedrwzm81eTxYu2b7/o2PbtH3tzf//MbJHxlDLI0M83Zeg4
AZvEI2kf5dOneh7+6JvvPA3H2cdq0a+6vx5lH0CFGVC6yrQ3gYVLcHewPHwlWmqmQdYTHiNWtgdL
agINdzAXEtRc8COpJZs4Qw9zDDQOb1GNwrdAETTvVuujAs1URYzWiGRBBhGTayazjbJUggqH4KhW
2zCNXWjSmXGwGbV6eA+rh09lbpma0t1wmHxxtDFJkgHr6YnbdSbzn1hKfX3jX+bfRGfGK0fO/TkW
UlySir70a6P1lpn/XdBfeok21lltrB3cm5jfHIOSKX0r7bMe8lqxDiKE05dpHx66y6PAA6PUmx/t
QG9+lHrzscAnu2aELrluMgdCCTq/XmA9dZ1D8DMpLCuBqkKcqmQ4b9QJxjIHzmOZbOR7yRkc+bzp
rt3IPid1W6aQfcYyH147+IzTdMfO/rXMVEDfgfAu/nHgpTlulHuCq3UgDoZLtC0DduHB/kSj/R0+
mPPBEk3IGCrW+kdxoP0Dxq56SsDfqSm4zWKkpxZE1djLMWCMJW0A6igW1WFAZrmoDDvqA4w6Bgrq
OOBuA+gii5lsrpMirMmrjXKNdFOry7KaX7dx6lS2XBlblfm1wqkvSEhDug0bB7s7ivv29cWy5W1d
uqnpPRPbClnk4OMXM/rya/RleTeWQ449TTyMsfM9AumIJvy6flN+sMnaG/+9DsnBuswvd5FvkeeB
w3RxR7laHNWOPKu/dQitaBqW/1mZzg7CvcO+pEoWGlRrxo1BUUfHs+RUHUFcNY6gjPo6KG41TnRq
aSZjQqXktQmSSC0Qmx7Gv4bZ5tPlcoZfKbq95Li+WY+r2pwedOfBYTi/qVzZUSjtqxaHo/0F4ygr
xuVvGEL335DGnwVWOyq8h+ZpeIl+nepRj4iJDHWTg1aPyivVo771qkf9F64e9ayuHnWvVI+6HYtG
d6t61IPN6vCI12X3qupRp3tt9agX76zBsS3IAnetrh51etuqRx2y0+3xro6O0H5DqsVGO7esqiMF
AS6sU0ua7f9s5G2r60mFnVPvzTa2NYtK23HrvABuL1iZ+4fi9v/LlbkMty7P+bhleAUBt26dbhL1
ptW1us+8d+rWdrq9E3Dr4oLr4jYgYueAuslNcetZwW1oPdyGL4zbwGrc+ldw22zjx3AbwMaKeMTr
Hv8q3Hr9a3EbxDtrcGzDLdy1GrfeYBtugWj9geC6dGtfh25ZfvF6ddB9bxy7J3qX4W7HGvolp093
XHppY45RcBPH1wOOo1wHyayD4zTgOAU4jlEcx1dwnGnHsQWssSiTFDFUKmiJebxY97BrnpVZyF54
FtKrZyG1MgspmIVUaxbSbWjHXyVSazHfgffU4NiGebhrNeYTHcxBjohPpNIdq5BuMdM8F9UdxZ4f
wMxVg4d2Ylo7CRgB4tvjP/I60zEg9mTjhwc9ObE713HUHXavnhb+3PCIIBRFf3RogwCsSAjGG1mN
yei0OTpJ/XxRrpNE15mliIhKX93kp7MUaM4ShpJyJTCOsWUf7Vy4asrQE4jBmxi2kLDSXpjNaeq+
8DRFVk9TeGWawjBN4dY0YcTcj0e8HgivWizB8Nopi+KdNTi2TRnctXrKgtG2xQIrJRyJvnyLgPZM
QzYv7W7OVXO0l/k8DWxqdmuuz+bC8VHnZ6ODzsqPNU9oc24+RPl/iMuQmVcvAUC3qMeYqZQu1L2a
qZRtnyIMsYXZCgqz+MhKm9LmROX+fyoxkmHQwj3eILUu0jFQK10+v5s6bNYRIBm0t2gS0YoPZz2B
snX8wPh4d489GQwkk4Fgco1w+fsDo6MHRq4IJZODqSRM3TL8JxzjF7kwWBqXsi6zGA92thoHSEv1
UMSrY+2B6ha7t1W0D/wvcFaJFsFIZHX7gWbdPhxdRqoiornhCAAHSaYo+04R1lkgpZXyt1oLjBLk
4/LAYCUlSoTsT11y9C+vFJZjHSTU+OkMtyxc9NWBiZ+98ZG/dFkNkQi/cbxX3NgRf8/ck9Oz4nT5
yh+TTqLzdBodBVp7a9f6QSSwA8B5HSHA3K17GOGFCvWwRnjJZpcIJDw/pnTaaA216gdO+JhBsDrd
oTDV+p0wc0qE+pqxjYSz2UZi/QYS1NYfaNr657eT6LLmSrw/xYz/1b0l1roCYGy0x4PwSeCEIW7j
K3V5CF+gy0OkWd3hr75MtwdUC9fv+FDteyS6puuD0IGFNqvhG/u/gO+Pgutjj/R9cQ1c/HfQKdWE
630AV+yV8Ra/AFyJV4k3ppasD+PkPaP3omKyFs6zVDGheh+D9XaANcUVMEf55aBFuu0pqSGQcNli
sxXceaBjoiilaStNYk7DaZeVNYjDELLq0VVfdkgXCJOtP8QTfhQkfpV9rB3os4N+f/Mf9Qktfx+O
j4INgfHVDq3zJGsdYWi1jsC0QEnHXIF9/QJaLHJJzgEhThygRsm5nNaUAuPuHIn9Qc9zac+bAnXc
cIBfBhV85XnL/wLPy4AeLoGU62SRPtpBjra2MLCKJCzgNxvQ686LeuQSCKSmnsKD49qsHzqgaaDn
0s0eGgJIUY4Qqt/YYdVMaJUEVuroKaAuI8DkuorN9dIWyNRSgNFj57MuaetmbXVB+3cdm5M9B0R2
oon1cwSh0b5QHHqXf8sf45/krADR67Xse4eklXh7aOqGSc/8bQRTGhh0FppOaqM17jWbhbr5samn
hfr/LejxtzEPlUFm6couG4b4aE8VzoE54E7QND1YTCC5WFZXWzMc2dVqh4NhAu8s64lz0xsPHJk6
vn378YljDzxA9gFR0844RrKv8Sv+VjJ8G//v/c16/StB1w/Bqrp5nW4Rfe3dIsBYqheYslGg+cP1
DPuWWekkgcsnjJ0kfBGAuqMAZ4ku2vkPuylanEr21feXcK2TSbVez4kwatKHQmFPVurOdxzxhDwX
6kKhKdWC0KZVU3qjvSlgfWBvChe3bd3uFO71ulN4tO4UtOEC7Vr8Sv0p0O5d3aNiY/9nI+e1VfgX
WMDc/9uwjZO1sKVh+Z8H2ztb9jiD7U4Km+8CsPnXgy2wCjbXq8Ib4x2r4RvVjNrzYHy3JjyaMF5P
YUxiz8t1YEy1wwi8o55klJ2kMqIeYN8CK/CjuHAYWbVlUlYlnua/P4r5Bp4oa0WuigImZzuV4CuP
7TyLcfUoq2ttxfOG+/bzrEUa22ZjP0nHHuKy644ejA6lo4RphmCn0/L/VahANoq9PrH9UwpOUytI
yGtIYMP3ycABYNGnQBdUbWaamE5x8Iqjv4AoXY2DwKr8k/MQ8Odr8lEI18tdQZ4iPwAK4Co+ku3t
JMc7HyqRySKlia8CL/8l5+EiIA+v5FhBa7yJlZC01HRmeGVa2IRar5m5KlhBkxPLmx8XBZvsMgTo
jJudtH4ujuzbAZxaCcmLZs7fwapwVb2h1fYTE86aBRBSluYW+lyoIbuYYzw7etsD20ux3kS5cOsD
e4uxnnix52j3T5LDJ+d3d4yenO8jB5/5sGvKNZt+4K5nPuyZcm/seP+pT24gP5Nva1zkvu0jjwwj
b6c9MoBvyDDKqfW6ZHjX65JBK9e0ARrlRbvL7WGy+/yGGagitDXN2AVs7LzGGfw/a3xsNTwb/iB4
sNShZne6q9VXBciTwLPOB+QdjGk14bgT4Aisj5fgenCENDgWAQ7a4cyCLTUvAA7jVG0gHbyHsanz
wXpXi08xuE4CXBEuj3HitZChOpEtqR5je6GEBiYmSwWsdGMZrNLqsNIWmU3guzAAhjanXbwQCi+w
BtvGcGrVAjx/JJ9ctQJ51s8C5tsKIxpY29HC2epo4dI6WtT0Orn6Mj0tUMFt72vhQT/xqt4WvEWT
S83+TjXOxvmxAoj6X7BtR81LWKlN3ezgMM8WGKFqFVmmBGDThp3d7MViUyfDqrdgUycTzQieF3Uy
I6tQkMslT6vTk6e80kvoQP6aO5q9nqrbr8nyhTfewR9uHDbe/y1S3bswTLCue/k3/Cn+70G7/RxX
G0fNK16qRXHOU2DXjNN2r+JSM8dkuMAq/icLyjhVKcfscNMYKpHjqESOOah/Ls5KA9xsv5GQeWnR
HMoYutQKllkXaI/mKUwT7cY+folhjM9V5LrDF+0sMR6m+vN0EhKYRRvKdONVQq36YadqLjEFtML2
0KBZRNgRdXVBF8VCARNsx/TN+J7oobXlkfGtw6+/PF2y5mWPFElf0Zfbc2z3vH5i60RvJHPlbr3D
HLV2ih2h0V17RxbIx6dItbo5bRne0jUcNXjMstvmDzh6vZXyriHzhJ4EemJhuZDZ4gj6bG6DV+dJ
x5KxwsZzvyAfh/VE+1vwP4JVjuvpzvYOF4lVHS4yKx0u2JqKmmj/pvR6HS7oUsJWsmZLkOWUPmq0
+UK4EdQf2+aCmlqwHL0v0+ei0PdI5IF0LnNJbt1GF/xFk+/NNk5kUiTD2l2sGn8HjP+eC3f4SK4d
v9bhI36h8a90+IjT0Wey+dboMUMt98e1+miOH/FxgV4fbPxok67b7EMbPfn4eydv41Zw8E3AQYLr
4d7ajoOOVTjoXMFBb6t1PGh/ufVwUAAcJHHfGaABmlyakx+jRBCLMzyo7ijL1Yv8MdSg2civQBEV
TaQIL0MVdhbauWQdungKcNLDVbnPtOOkH3CSQjYZ4bU2Eww7gyvYGWbb9tA9epSe+Fm5HmTKcbBQ
72FnvYx3Om1Li2mny9BVT7HrqYKqHyiV6mmWoof9HVI9YALYfDFjfpCl69P1M+iiGFONOla0pSWl
vQzO1rEUX2lFjVCdOhjWlGpPyG19GUxaqk3DsTLCFOxYY7wNraBrM7zW6Hrr50a5T61dcXkUfuWS
2gcCfENx/QU41r4AkYX3gCTvaV+Li1VnHBh6Ea4XC2rV2k6YmI7Rk0HfMhjXSlFWbdj3wslpu+sk
/1C8rlqVF9AQXnal6jWdwRfx+yO+l12zT65W4Jv4XKL47OOGuafX4rOKWbp5lpm7DjLrhQFj3tpV
L2je7A1rUFvvZ2TZ71Ar8K2bfeu+AN/DWoL+FmpBZtqMvQVke6+AXrU6AH/Unam+ekQ3s3abhei4
8cHLYtk/1tM9PnZorA/DG8mBxMvi+Xs9o6M93SMj3aFEgkY8GE94QRgkz4OFOACU++dsHxK0CrHp
QxejVcVZQgwD6db95Tgi2Y+5r5gz1L9CujnAWo7Wfil9RbVM+/grZYc6xHqxUhLNMfmZYS0Ka0Zb
B56VnTVHqhfPhuSak5WUe1iROaf6Q/AnEfrrJn7PxydtJOFzt3fdAfS2sJuh6O0oFbNUI2lD6eXp
4k3XHCenvy/O7Niz3zBxx97j/tSN9yGG8yc6jYBisucrk3xlctvoCm6LxWaznv6h7DhFcT6TKwOO
j8/15llsYnDZrvVvSqJ/7bwOToqnGeYD5b4e0Sg11d4TAj0lcRvzOATQjnZ5mLIRl2uCzcA6MGCp
T5RSnNwMvzjWhl9W+j6tzrU8vwuU25bTsi8HCH9sdU+otQEYgfVXAj3DRascrlvbYSmKHZb8Kx2W
Eq0OS37aYSmkdVjC6gYjx0RlSH5UsMgerw/HKTrXbbXkv3CrJZa9c8F2S5W+R6IfXqflEj+AStTP
WeOl9nGFYVxXvVLnqMQFOkcltc5ROKJIlCoIolyz2WPVP659FProLtxCavaRvi+e10bq35g61BrT
N2FMWIF309oxJXFM4ZUxdbTGFKZjimljyrTNVUx+jM5VIMQma9Fm9/mpP2/12MIvN19M5XmZORvH
aMHdhruEdeaN/ISpOT/RWmZhTQcdZ43OXQ542v1tI42jGO4uqVkQw8Xi+pNZXjOZ6JdPg6hNt+Z1
sU/0gRjOw8V8Qe2zLqmDWJlkpDU3aj4NC9UiaxvgGC20M4Pill95eisXELMXnnIDE66aXX7e5P9+
tVzll79Ne5v/aHUsiLTFguwXii31wsIZX+A/DMvk3A9b/ZhGOI4E/qDnNWNLI6DHSwv8ViDPlect
/yM8Lw40uiq2RNpiS/a22BJP9OL5saWMFls6vMBvZ7Gl72uP54TlBhx/T/uz21mP7FaXKsXFSuUC
Ra1X1fnRJfs60SXhZaJLPAsq7V0wsBP+MhZdehTh0b6wPkHkP/m/BniopUq7CMeAVjHipVr0S3Uh
F7BatcYCzEgL46pkcUu35uIJo11msbJKR0FvtDsDJlyUbqfqkJHb5GJwg5trFgwoFueiZDBhZECx
yjWzXa5WV1rvoWsyI1UGtfJY3KeIKSRjfHkgCzpJ5aJrdwx7NszHpseOmW5bmI9Ov85ZODh1w1WH
xmY7yyEjP3b/8A9uvCl97eBIZiCpG9OXRrIDV/xi04k9+etu2785PLF11N/p38GxvmG0h5kMXOld
K12bgmiGePhVLXSsQosxrfRvUtJoibRK5TQTQ2vspASL2NtJq7iizEtr8aQacZ3qfdY4Xadaxq4a
1MvOutPnjyRZ7sl5fZ+E8/z17Z2g/Ku99SHPmtZQ/Jaq5qxv2RLIm2mvKFhHRs7KebhdWrcoucmb
PUKryZgW43Rp3aKQI9kJK/ZzyXWDWbBa6Hg88vp9o3A9i2t6RxX6Pxt5eFX/KP4zsM6/1uwh1Q6f
3Abf6m5W3vW6Wfm0blZ1g+CkRdrYh8n9Kvpaoahb3dvKBhxjTX+rh5u2PoPvmxS+AHb4pPB52jpF
UdcuwOcy0RQ3nwYfaiAuDX8++VGD2WKTBSbMaPv+gOdCaGQcZy0qs5plrl+NzkOUE31DQ2gT3qcA
3jBQ/Vs1eOMC2/uPLn0GeVqjeEI9U4umKDG0csCiNAcMh7HoEpNwfWUNuFbIHdNzHjdgMWE8xQpl
0/GVMalOASbHZHd4gmtHeB6drx1rci2te1YPev95pP4cQ4BOG3+Nzhd66N7QRlG45rHyO0xzONoI
rLOdwNZ3ejfJDjki7fQlW2gbeNpMTekAXmh9NU3VLhSVWk2QhVVO8TWk+fnzaqSnuAnyPzzWzbu4
FNdL+xIbjC0nb6Kg+rH6Ko2CE/sIWu2oemGsXauP1L/CNmxT5LHG76xOL5ZjeZ3WlTMiTUz8eR+W
CeCBXNvvtNnlflYQgLT4KMxFnxYPO9mMhzXXTkhYiYeZVuJhplcbD8N6h1XRMLqpYuVVxcIA35VE
Ihst915+aqgjmY0Xew7mPuRO7xzZ4e/YOdrz/P03G2Zdk/7rL7n/ZtOcayZ43bFb02SHfr7xU2n+
yjtS2l5jz5Nn+R9TznXxBbtueV++69bq0FhddLDYGIZ4X6H/Fio8q3tw5YHdrunDxT/C8sX+H4MV
w1UApcZzaZcwzMBw/6GwvheY7lpYj7AcMgbr31GOe9UFYQ2+PKwhDa+qM1BFzD6KmKU2BKBWtXmr
zWDby4PNmPFq0Ps1VrwW/GPN1DKgfTaGxzQudHrtKNawotagOtsH5TS3OJE2vsUOixHsg6iV7l6H
rGllwJQzCWzLLbo9xcuP7AKMaPVI961iRGvHe/Oa2BztmQWy3M351+uaFSiwyuBX0zUL6WXdzlki
mKLrdc/iyyixWU9KPcg/J8i/w1o/bs+qftzBVT0pnajtuYp04zV/W1NuP/J41o7bY2UWZxD7PCoS
a3/iW9uSW+tHSd1G8wvC/ouO7dpz0dEF/vDw5MDA2PjBZ4R7PzOVnL39LW+7sTs28naSTe/4u13T
lFYY3nAP4TjXjf37/Egd6ZIaA+roLJ6HyB5s36KGrVRVx1zJnJXtzpjAVGednkU8Xw2ahQtQwbqo
r6wyCdedhO1rZBPdn0fA/XmiXE9rJxOcjwieJKWlmqRttMtyJLqkpbpNjqDJbBNY2AQkc0ym2ZRU
6TCxDtSZZgdqGjfJYFp3REh24fJ2yov6UDrPlNUAa8ciyyqXrtJASYw2CCf5amsumTtrcFVCppdl
ZOJSEaiLC5ubVVCEjN72wKH5WO5rh4TG8jQJN34STxEiHPlmLrL1wAPh+ZOzJckwMnpyHpNJ4m5M
yJx7KhWfET0JcvIjtzncIaL4/fZbma4mHCLPc0Euy/VxH2bYweoi7FTjYAoKbjCfwR0si3VrLoB4
oXtH91O8aNYais0cxQs6Sbu1CHMRIyGYNRNADSUnqz49fHY7a5KDNvgwynTfHo7F8F0+mlpT47Ah
WlXN5LBjXmilCHwFR6gStFwMWabbIGfJUleDHk6ziCaQsPeW+k5/l5/dc0ac3bl7n2HijjeVSm8C
FWfntjGBCKPbdpLyU/k4r3v93DDqOJOT7981tm/EUg1Nz6Cus/FI0Hto5iPpnu2zjKey2P9JsGTQ
e7+wOvqPGWGpkirjvrOsaMh2lnb69jAjW9PuMO6esDIV45W3vLjQ+mhPGdi9KhqxJnkgvXpBEK6P
7yCv5Z/hJK6rbV8HK9vXAUv+taYi6+/w0Ke5IPgtIGouuQT3+eY3kuv5J0Hz26R15jGWVM7I+jy9
+kZzVFJKMg3ErxP2GmgmQ7bCWvzm4Q2C0C/oVtmb7T1TuLaOKH/Udd5Ar/vO673S3nDlDG24Qu8X
hl75fv5X2v2T5FfcB/l/5GxcmaPNP+qCtr2Gvemlo60R8JNuzcW12jfrqLepPAgLwFOUPFRDniTJ
nCnAk1hAtvG2ke3T5sHhYCVqpXM+Tn7BfYD/B3jXNOu+V9etepcB3gE/uGGjtsWso1npa8ZtF2h7
YZ1Ja+ILb27fm3icvpO9/hS8UR6ZnzQNDrO9P+7j/pS7Dt47ySmmwv/VWyur37qRxOlb86YADlPe
QEcMSxHwSooUrxFuL8OsEixpyKWdvqPt+NUarKh+bBsP6I6tRTXts4y6sZ+21T8P8ZULz8MHcX9m
OI/7V8+JPLJjcmV6AGaYH1Kg8xPhLuFYLjj2awyzjPAVoFehC88QdJ+JZTLCxXCBDmAVDtUwDiBI
d0sOaANox2TlgtP5IOLYysdzJn/7zLIh7Bw3jfcD7DDHZJDOcZS7gsIO2GYTDaZes5PiuoD7TbQx
FO2GVaB93lYDHrEz2QmYD2qkoAqu6vnEsHa77I3tY7DLMAiSgEG0EUqg4rDBOZ0Hlld5GLidg5zk
7Gi/WimtWnRd2ofWOaRulOlF9rHS43+VrXq4o99SSKcLlv4OIjXPOjQ7mRNE7rV0f/AC7nlJtcNw
d6lEW5S408Via/PyZpZ6W8pqQKaqOCIqL9Ok9HXal3S8wveplf3CyYDNGcbzsFM7x7YnTtvK/ubr
HWjvvyz3a9rbI8URFCKEig2TjkaYDc1dAnQsLU/rnJVu75nFcN4Fz3mRPifBnsNhDlhdz5rO4HP0
XLPridY7pOv0qe6PfkzrGkL3NV9+gd/Kf4HLYQf4jma+q1nbV7DOkQ4zq17gaLeQuiTSC6DkSDpW
bJGnuyYZckW2MbwrAiedKP24OG27Bs/RrBhXuVQeqNCNjGn4UbIRKSGl3KLHV5JSKLO08Gx5N9mz
3376zmNzpm0L87ut3LJ0jpAfSt8279598Xbj9uNvvNNK9OVY3F6++7R7xqoT9h0sG+KGaPnSY7xg
n/Hd9zbkC9NkRLid/zzI6jz3eY5tNmcOlOhYakIsWwSzIV2oO1myQJruhJIWQSU1RIoslRL3o7Nd
YD863NgUcFzPaz28HEoO3c3NxlOFVnMv6odaaV9JGxjWY1oNdEHz2VHzL4Zam4duDsHh5su0g5G2
312IIB1iSh22ah4nWuVj2y6h02TmjWO/dvDecZe4TTATs2AStorOKS9vrzrMR0R3wSkdsdj5e0ul
xuNkM/wc97t/aMrqjGnjD9z+xofI9sYLbjexNBYZfeHhp+SnsPLKzPuOqg4oN+3nzU5HTO1Z3VKt
X07I+IBGiPHpMBzs/N9wXi6JEWGs1lIczJ9P97AXMWvAJNCNgQz6pdaONi7akp1GwD00y9HNtrHR
Gl3iXLjp3sSKr0g3KYgUaQRExu2DRANLbm1ua+NhJZVyiv7f0aYU4iY3U317+7Jkeu9/LpCJAG42
EsB27fPbtkvj+dJMA77hhjdfbG4Ggvmav+XfC2OK4r6caBSxBF2zSLVVMPdqfm0UIbYvj5vuy0MZ
e4QOJmynVUDhCA4mjFVAEdrrOILjCjN/phGs3Hjb9jy+oq+5bS7YNalM+0Y9W/9281SfETfz+ERf
5j3vodv1zG/fTiznnpwatI4M8jHSOTBDN+75P6H9V6oAAAB42mNgZGBgYGRwTP5XnRzPb/OVQZ75
BVCE4dy9gB0w+v+l//zMU5mXAbkcDEwgUQCbVg6+eNpjYGRgYF7+7yaQfPH/0v+bzFMZgCIo4DkA
wO8IlwB42m2TS0iVURSFv71POSiCdFCKmhVmXgrf6fWtN+/tWnl9UDmwB9JAKCsCoUmveRA5i7RB
FA2CRjVJGmQ0DiqIalKDhIyaRWRUtv5bhomDj3X4z9nnnL3Wf2yUTeEDWA/wVprLYRsm5XfZ7nU0
hvNUhhXs5BkpG6FebLTH1PtW4rwnadOkmaHLV1LoQ3TYZdZ5DQ2+nTofodLzpS0kHLb6EZIaN/CJ
JJ/Z7Xns8O6s7rI5yv0pe/wkq3yUQW+i1a9Kq+j3Qvb7GG0+yaDliH1s8F7NOfvDCbp9WuNJrc9I
r2vdMWm17pAk368x4MPkhvuU+FEKvJHVXk+VdTPkORRKY3ZH+yXUXzPFvoVanb3XZtVjK3EvUM9n
KfIKYtovwzfxXXU/yViM3jBKJvrucZ3XJW2iwcY194MaOydPmtRTHnkhrrPXst5zybNfVFs7FXzl
oHWo7zX0ZL2HA6qr1x3jPiDPjlGq8w75Rtpsgr7QRbM9kMczyibDbntE2mO63xVa7bh83sseu6fx
DVpM9/B+yuV1mo9stjLxUPUz7AhHKAtnxBRx+6K+Is+XIYzPz2dziDJYhOXMv1IOCek76Qp5vu5f
Bkuw91Rkx1EOi4ly6FPNTXkbeb4MYYTabA4F/8Pc/HPmaJG+Eb+8Mpv1nwyW0iwfI41yWIxy8DbV
SMM4reGS1uhOdkv/xi3q7AWE28pkQRv0PmbFxF/GxJSo1ZzewALqKR0uyvPXdPKSdr2RlJ2m007R
rv8hpZyGQg+JqNaKKbUStkX7+gXl8oSdyge9kyJ5WvQbDkOgnQAAeNpjYGDQgsIChnmMOUzTmPWY
rzB/YhFjsWJpYTnE8odVitWDNYF1Ges5NiW2HrYb7DnsLzj4OCZx8nEGcS7g3MR5ifMJVwjXF+5p
PEw8TjxtPGd4uXizeBfxHuB9xWfEF8PPwO/DP4n/noCdwA5BJ8EiwTVCHELLhO4ICwjbCOcJtwjv
EL4j/E1ERKRH5JmohmiH6AsxA7Ef4nbiBeLLxN9JSEk0SByT5JLMkDwg+U2qSeqCtJS0m4ybTIXM
FpkHskayXrKzZO/J3pOTkjsn7yd/QsFIIUThn6KN4jElM6UgpSqlGcpuyinK65R/qLiprFE5pSqm
6qRapDpF9YbqF7UstTfqSzSENA5o5mkpaH3SPqCzQJdLt0L3hJ6IXpbeI30ufSP9JP01BmIGswxe
GJoZdhixGbUYTTJmMfYxnmB8x8TFpMnkimmLGYtZm7mA+R6LFEspy2NWFlZLrPmsm2wEbCxsEmwm
2NyyjbK9Y6djV2N3xT7E/pyDlEOXwwNHM8cZTkJOIU7rnGWcV7k4uSxxOeMqggMquOq4WrgGuGa4
znO95Sbilud2xt3APcn9GBC+8uABwipPKU8nzzVePAA4Goq2AAAAAAEAAADnAEQABQAAAAAAAgAB
AAIAFgAAAQABqAAAAAB42o2TS24TQRCG/xmbSJEQEguCxGqURRRL4Dh2LPIQYgEhimQSFBBZIj/G
dhTHtjzjBxt8ABYsOAUH4A6w5QQcha9r2sQIEHhU3X9V/VVdXdWWdFvfFMj9ltfQ9gznDGU4rzs/
8Qr7Gt4gvwoh1V2PA+WD9x6HeD54nFvCeTgLfEPfg48erygME49XdS8ce3xTG+GCf0vvws8ef9Fa
ruLxV5Vyx/PD2SAqR2dxZ9yrj6LzuNEe9NO5nmigod5qpAt11FWqSJ+QskraVkX3wSeqY6+rj8Tq
YTkCXSGRNjW1r4i3RY5ETTJO4I2QFnanX8EsIhew2uiblrHwj5iCnT6FkVJZpDO8ibEmxov0DF7f
aj6ximLQoWZY3WmviHLZl3kvQW3QFP7I+Bmjx95E79sJLvfYqnOnRXZ+bNHHqrGf0jPHXc5c+yWD
q/y1RSfYB8bdpionRc1N/uQvWd8P9IKzIq9dW7swU+tOnx4sIop6yHpgE7kkp+O0sbo7NZhkUVWT
XeZZ1h5MdyPHqXPLFH7XJpPaPCeWcQ9mAf2BzXvXkOtEFa/DR/6NZNrMatkxPGVdx7/ODf/+cv7v
1XStzqH2tcXnWO6dDrElcFzneuwDrB38TSKS33hb7HX8McwhGYd6bJEpljfsLT2iimwOG14/Za41
ncNo2HvNepN1+7mf1lO8TetCxXxVqtxB20evXP+DfgBtvKEZAHjabc5HcIxxGMfx75NsdpNN75Xo
vbzvu9kUfTfJq/fehSS7SySxsYhuRC/DmHFjtAtGFwyDA0ZvowwOrrpxwJVN3r+b5/KZ3zPzFCJo
rT/NGPyvPoBESCSR2IjCjoNoYnASSxzxJJBIEsmkkEoa6WSQSRbZ5JBLHm1oSz7taE8HOtKJznSh
K93oTg960ove9KEvGnr4tosC3BRSRDEl9KM/AxjIIAYzBA9eSimjHJOhDGM4IxjJKEYzhrGMYzwT
mMgkJjOFqUxjOjOYySxmM4e5zKNCbByliU1cZz8f2cxudnCA4xyTKLbzjo3sE7s42MVWbvFeojnI
CX7xk98c4RT3uctp5rOAPVTykCru8YCnPOIxT/hENS94xnPO4OMHe3nNS17h5wvf2MZCAixiMTXU
cog6llBPkAZCLGUZy/nMClbSyCrWsJorHGYda1nPBr7ynauc5RzXeMNbiRGnxEqcxEuCJEqSJEuK
pEqapEsG57nAJS5zm4s0c4ctnJRMbnBTsiSbnZIjuZJn99U01vt1R6g2oGlamaVHU6rsNZQuZUmL
RnhAqSsNpUtZoHQrC5VFymLlv30eS13t1XVndcAXClZVVjT4rZZhWrpNW3koWNca3GZpi6bX+iOs
8RetiJf2AAB42j3MvQrCMBQF4KSxaa39idi1UBFxuCD4DrZLFcSpAUefQUcFcdRnuXESX65eNWY7
3+Fwnry7Ir+xBsNNazi/a1NLaMeodIP5lsJZFyhh1zIUZYUClijL6iHWHnzhE+TCokfwJxbBZ7ay
CAnB3KJPCEc/cIzsbUZtdPHAiPpATIlZ4ZgQ05ljTEz2jgNiPHVUZfVi0aljrhnSQB3/1JjDG5Dk
RxsAAAAAAVK4oDkAAA==);
}
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  background-color: #d6d6d6; }

body {
  margin: 0;
  font: 100% "exoregular", "Arial", "sans-serif";
  color: #313131;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #01579B; }

a:focus,
a:hover {
  text-decoration: none;
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #717171; }

li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

code {
  color: #313131; }

::-ms-clear {
  display: none; }

pre {
  white-space: pre-wrap; }

p {
  margin: 10px 0 0 0; }

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.3;
    transform: translateX(300px); }
  10% {
    opacity: 0.7; }
  90% {
    opacity: 0.1; }
  100% {
    opacity: 0; } }

@keyframes rotate1 {
  from {
    transform: rotate(390deg); }
  to {
    transform: rotate(30deg); } }

@keyframes rotate2 {
  from {
    transform: rotate(480deg); }
  to {
    transform: rotate(120deg); } }

.wrapper {
  max-width: 1060px;
  margin: 0 auto; }
  .wrapper .main-content {
    height: 1499px; }
    .wrapper .main-content .left-section {
      width: 320px;
      height: 1419px; }
    .wrapper .main-content .right-section {
      width: 740px;
      height: 1419px; }
    .wrapper .main-content .section-projects {
      height: 1419px; }
    .wrapper .main-content .page-back, .wrapper .main-content .page-front {
      margin: 10px 0;
      background: #ffffff;
      box-shadow: 2px 2px 1px 1px #adadad; }
  .wrapper.flip-container {
    width: 1060px; }
    .wrapper.flip-container .flipper {
      transition: 1s;
      transform-style: preserve-3d;
      position: relative; }

.app-header {
  height: 40px;
  width: 100%;
  background: #1f1f1f;
  color: #ffffff; }
  .app-header .tab {
    border-bottom: 4px solid #0288D1;
    text-transform: uppercase;
    left: 42%;
    position: relative;
    height: 40px;
    display: inline-block;
    line-height: 50px;
    font-size: 1.1rem; }

.app-footer {
  height: 40px;
  font-size: .850rem;
  background: #1f1f1f;
  color: #ffffff;
  z-index: 100;
  position: relative; }
  .app-footer .updated, .app-footer .hashtags {
    line-height: 40px;
    height: 40px;
    margin: 0 70px;
    display: inline-block; }
  .app-footer .hashtags .hashtag {
    color: #0288D1;
    font-size: .8rem;
    margin: 0 10px;
    font-weight: 700;
    text-decoration: none;
    cursor: default; }

.left-section {
  color: #ffffff;
  background: #313131; }
  .left-section .section-body, .left-section .contact-info, .left-section .personal-info, .left-section .interests-info {
    padding: 10px 20px; }
    .left-section .section-body .list li, .left-section .contact-info .list li, .left-section .personal-info .list li, .left-section .interests-info .list li {
      padding: 8px 5px;
      overflow: hidden; }
      .left-section .section-body .list li label, .left-section .contact-info .list li label, .left-section .personal-info .list li label, .left-section .interests-info .list li label {
        width: 40px;
        font-size: 1.5rem; }
      .left-section .section-body .list li span, .left-section .contact-info .list li span, .left-section .personal-info .list li span, .left-section .interests-info .list li span {
        font-size: 1rem;
        line-height: 1.5rem; }
        .left-section .section-body .list li span a, .left-section .contact-info .list li span a, .left-section .personal-info .list li span a, .left-section .interests-info .list li span a {
          text-decoration: none;
          color: #ffffff; }
  .left-section .profile-badge {
    position: relative;
    padding: 0 0 10px; }
    .left-section .profile-badge .cover-image {
      height: 303px;
      background: url(/images/cover-self.jpg) no-repeat 0 0;
      background-size: 100%; }
    .left-section .profile-badge .profile-image {
      transition: 0.7s;
      background: url(/images/profile-img-bw.jpg) no-repeat 0 0;
      background-size: 100%;
      width: 140px;
      height: 140px;
      border-radius: 70px;
      position: absolute;
      top: 65px;
      z-index: 100;
      left: 0;
      right: 0;
      margin: auto;
      border: 3px solid #313131; }
      .left-section .profile-badge .profile-image:before {
        content: '';
        background-image: url(/images/profile-img.jpg); }
      .left-section .profile-badge .profile-image:hover {
        background-image: url(/images/profile-img.jpg); }
    .left-section .profile-badge .name {
      font-size: 1.6rem;
      margin: 90px 0 10px;
      text-align: center;
      color: #ffffff; }
      .left-section .profile-badge .name.letter {
        margin: 30px 0 10px; }
    .left-section .profile-badge .title {
      font-size: 1.3rem;
      margin: 0 0 10px;
      text-align: center;
      font-weight: 400;
      color: #ffffff; }
  .left-section .intro {
    font-size: 0.9rem;
    padding: 0 20px 20px;
    font-family: inherit;
    line-height: 20px;
    text-align: justify; }
  .left-section .contact-info {
    padding-right: 0; }
    .left-section .contact-info .linker {
      color: transparent !important;
      width: 250px;
      position: absolute;
      z-index: 1;
      overflow: hidden; }
    .left-section .contact-info .linker-text {
      position: relative;
      color: #ffffff;
      top: 2px;
      z-index: 0; }
  .left-section .personal-info {
    padding: 10px 0; }
    .left-section .personal-info .list li {
      padding: 8px 15px; }
      .left-section .personal-info .list li:nth-child(1) {
        background: #414141; }
      .left-section .personal-info .list li:nth-child(2) {
        background: #515151; }
      .left-section .personal-info .list li:nth-child(3) {
        background: #616161; }
      .left-section .personal-info .list li:nth-child(4) {
        background: #717171; }
      .left-section .personal-info .list li span {
        line-height: 1.8rem; }
  .left-section .interests-info {
    padding-right: 0; }
    .left-section .interests-info .list {
      width: 300px;
      margin: 25px auto 0;
      overflow: hidden;
      padding-left: 15px; }
      .left-section .interests-info .list li {
        width: 80px;
        height: 80px;
        float: left;
        text-align: center;
        padding: 16px 0; }
        .left-section .interests-info .list li:hover .icons {
          color: #0277BD; }
        .left-section .interests-info .list li .name {
          display: block;
          font-size: 0.7rem;
          line-height: 20px; }
        .left-section .interests-info .list li .icons {
          transition: 0.7s;
          font-size: 2rem;
          display: block;
          font-style: normal; }
  .left-section .section-header {
    font-size: 1.2rem;
    margin: 15px 0;
    color: #ffffff;
    position: relative;
    font-weight: 500; }
    .left-section .section-header span {
      background: #313131;
      z-index: 100;
      position: relative;
      padding-right: 10px; }
    .left-section .section-header::first-letter {
      font-size: 1.4em; }
    .left-section .section-header::after {
      content: "";
      width: 180px;
      border-top: 1px solid #ffffff;
      font-size: 0;
      position: absolute;
      right: 0;
      top: 20px;
      z-index: 0; }
  .left-section .anim-frame {
    background: linear-gradient(#0077b8, #36b9ff);
    position: relative;
    height: 135px; }
    .left-section .anim-frame .clouds {
      position: absolute;
      width: 100%;
      height: 135px;
      overflow: hidden; }
    .left-section .anim-frame .cloud {
      animation-name: cloud-movement;
      animation-timing-function: linear;
      animation-direction: forwards;
      animation-iteration-count: infinite;
      animation-duration: 12s;
      position: absolute;
      top: 0;
      width: 200px;
      right: 0;
      opacity: 0.5; }
      .left-section .anim-frame .cloud.small {
        margin: 0 60px 0 0;
        width: 150px;
        height: auto; }
      .left-section .anim-frame .cloud.smaller {
        margin: 0 230px 0 0;
        width: 100px;
        height: auto; }
      .left-section .anim-frame .cloud.slow {
        animation-duration: 8s; }
      .left-section .anim-frame .cloud.slower {
        animation-duration: 12s; }
  .left-section .windmill {
    height: 135px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 100; }
    .left-section .windmill .windmill-base {
      border-bottom: 10px solid #313131;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      height: 0;
      width: 20px;
      left: 40px;
      bottom: -2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      position: absolute; }
    .left-section .windmill .windmill-body {
      z-index: 0;
      width: 8px;
      height: 65px;
      background: #313131;
      border-radius: 5px / 70px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      left: 46px;
      bottom: 0;
      position: absolute; }
    .left-section .windmill .windmill-wings {
      width: 5px;
      height: 75px;
      background: #313131;
      border-radius: 4px / 60px;
      left: 47px;
      top: 34px;
      position: absolute; }
      .left-section .windmill .windmill-wings.wing1 {
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        animation-name: rotate1; }
      .left-section .windmill .windmill-wings.wing2 {
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
        animation-name: rotate2; }
      .left-section .windmill .windmill-wings.wing1, .left-section .windmill .windmill-wings.wing2 {
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 5s; }

.right-section .content-box {
  margin: 0;
  padding: 10px 0 0; }

.right-section .section-header {
  color: #1f1f1f;
  font-size: 1em;
  margin: 10px auto;
  height: 40px;
  letter-spacing: 2px;
  width: 70%;
  position: relative;
  float: left; }
  .right-section .section-header .heading {
    position: relative;
    z-index: 100;
    background: #ffffff;
    margin-left: 25px;
    padding-right: 15px;
    text-transform: uppercase; }
  .right-section .section-header::first-letter {
    font-size: 2em; }
  .right-section .section-header::after {
    content: "";
    border: 1px solid #313131;
    width: 60%;
    font-size: 0;
    position: absolute;
    right: 0;
    top: 24px;
    z-index: 0; }

.right-section .section-content {
  padding: 5px 25px;
  font-size: 0.9375em; }

.right-section .list li {
  list-style-type: square;
  margin: 10px 20px; }

.section-experience-education .org-list .org {
  margin: 10px 0 15px;
  overflow: hidden;
  min-height: 64px;
  width: 100%; }
  .section-experience-education .org-list .org .org-img {
    width: 60px;
    height: 60px;
    margin: 0 30px 0 0;
    border-radius: 50%;
    padding: 14px;
    background-color: #adadad;
    color: #ffffff;
    float: left;
    box-shadow: 1px 1px 0px 1px #717171; }
  .section-experience-education .org-list .org .summary {
    width: 50%;
    margin-right: 20px;
    float: left; }
    .section-experience-education .org-list .org .summary.school {
      margin-top: 11px; }
    .section-experience-education .org-list .org .summary h6 {
      margin: 0 0 3px 0;
      font-size: 1.15em;
      font-weight: 400; }
    .section-experience-education .org-list .org .summary .position {
      display: block;
      margin-bottom: 5px;
      font-weight: 700; }
    .section-experience-education .org-list .org .summary .datetime {
      font-size: .8725em; }
  .section-experience-education .org-list .org .highlights {
    width: 180px;
    margin-top: 10px;
    padding: 0 20px 0 20px;
    position: relative;
    float: left; }
    .section-experience-education .org-list .org .highlights ul {
      height: 48px;
      display: table-cell;
      vertical-align: middle;
      width: 140px;
      text-align: center; }
    .section-experience-education .org-list .org .highlights:before {
      content: "{";
      left: 0; }
    .section-experience-education .org-list .org .highlights:after {
      content: "}";
      right: 0; }
    .section-experience-education .org-list .org .highlights:before, .section-experience-education .org-list .org .highlights:after {
      position: absolute;
      font-size: 3em;
      line-height: 1em;
      top: 0; }

.section-skills .skill-stats {
  margin-bottom: 20px;
  border-radius: 3px;
  font-size: 0.7rem;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  width: 100%; }
  .section-skills .skill-stats .skill-bar {
    height: 18px;
    line-height: 19px;
    float: left; }
  .section-skills .skill-stats .javascript-skill {
    width: 60%; }
  .section-skills .skill-stats .html-skill {
    width: 15%; }
  .section-skills .skill-stats .css-skill {
    width: 15%; }
  .section-skills .skill-stats .other-skill {
    width: 10%; }

.section-skills .skill-list {
  margin: 0 0 20px; }
  .section-skills .skill-list > li {
    overflow: hidden;
    margin: 10px 0; }
  .section-skills .skill-list ol {
    float: left;
    padding: 0 0 0 20px; }
  .section-skills .skill-list strong {
    width: 165px;
    text-transform: capitalize;
    float: left;
    font-weight: 700; }
  .section-skills .skill-list .item {
    float: left; }
    .section-skills .skill-list .item:after {
      content: "|";
      margin: 0 6px;
      font-weight: 700; }
    .section-skills .skill-list .item:last-of-type:after {
      content: ""; }

.section-skills .extra {
  margin: 10px 0 5px; }

.cover-letter .section-header {
  margin-top: 30px; }
  .cover-letter .section-header::after {
    display: none; }
  .cover-letter .section-header span {
    margin-left: 45px; }

.cover-letter .section-content {
  padding: 10px 50px;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.4rem; }
  .cover-letter .section-content .signature-image {
    background: url(/images/signature-img.png) no-repeat 0 0;
    background-size: 100%;
    width: 150px;
    height: 136px;
    margin: 15px 0 0;
    display: inline-block; }

.section-projects {
  border-left: 4px solid #1f1f1f; }
  .section-projects .project-detail {
    padding: 20px 35px 14px;
    border-bottom: 1px solid #adadad; }
    .section-projects .project-detail:last-of-type {
      border-bottom: 0; }
    .section-projects .project-detail .summary {
      overflow: hidden; }
      .section-projects .project-detail .summary .name {
        margin: 5px 15px 5px 0;
        color: #0277BD;
        display: inline-block; }
      .section-projects .project-detail .summary .client {
        font-size: 0.8rem;
        margin-top: 10px; }
      .section-projects .project-detail .summary .duration {
        height: 28px;
        width: 90px;
        border-radius: 25px;
        color: #ffffff;
        font-size: 0.9rem;
        display: inline-block;
        background: rgba(31, 31, 31, 0.92);
        padding: 2px 13px; }
        .section-projects .project-detail .summary .duration .material-icons {
          margin: 0 6px 0 0;
          font-size: 1.4rem;
          color: #03A9F4; }
        .section-projects .project-detail .summary .duration .time {
          line-height: 28px; }
    .section-projects .project-detail .description {
      padding: 1px 0; }
      .section-projects .project-detail .description .intro {
        margin: 15px 0 18px; }
      .section-projects .project-detail .description .list li {
        list-style-type: square;
        margin: 6px 35px; }
  .section-projects .bullet-list {
    margin: 0 0 15px; }
  .section-projects .list li {
    list-style-type: square;
    margin: 10px 20px; }
  .section-projects h2.section-header {
    margin-top: 6px;
    font-size: 1.4rem; }

/*--------------------------------------------*/
.icon-white {
  fill: #ffffff; }

.icon-blue {
  fill: #0288D1; }

.icon-red {
  fill: #ee3b33; }

.icon-orange {
  fill: #ff7900; }

.icon-green {
  fill: #00be3b; }

.icon-yellow {
  fill: #ffef00; }

.icon-s24 {
  width: 24px;
  height: 24px; }

.icon-s26 {
  width: 26px;
  height: 26px; }

.icon-s30 {
  width: 30px;
  height: 30px; }

.icon-s32 {
  width: 32px;
  height: 32px; }

.hide-me {
  display: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear-all {
  clear: both; }

.text-left {
  text-align: left; }

.text-right {
  text-align: left; }

.javascript-skill {
  background: #01579B; }

.html-skill {
  background: #0288D1; }

.css-skill {
  background: #03A9F4; }

.other-skill {
  background: #adadad; }

.bullet, .section-projects .bullet-list .item {
  height: 25px;
  border-radius: 20px;
  font-size: 0.8rem;
  display: inline-block;
  padding: 0 13px;
  margin: 2px 5px 2px 0;
  line-height: 27px;
  color: #ffffff; }

.flip-btn, .app-header .flip-btn, .app-footer .flip-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  cursor: pointer;
  background: #0288D1;
  color: #ffffff;
  width: 40px;
  height: 40px;
  font-size: 1.6em;
  line-height: 40px;
  text-align: center; }
  .flip-btn:before, .app-header .flip-btn:before, .app-footer .flip-btn:before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(315deg, #1f1f1f 45%, #1f1f1f 50%, #b7b7b7 56%, #ffffff 80%);
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
    transition-duration: 0.3s; }
  .flip-btn:hover:before {
    width: 20px;
    height: 20px; }

/*--------------------- PDF fixes -------------------------------*/
.wrapper .main-content .page-back, .wrapper .main-content .page-front {
  margin: 0; }

.wrapper .left-section .anim-frame {
  position: relative;
  background: -webkit-linear-gradient(#0077b8, #36b9ff); }
  .wrapper .left-section .anim-frame .cloud {
    animation-name: none; }
    .wrapper .left-section .anim-frame .cloud.small {
      margin: 0 -50px 0 0;
      height: 100%; }
    .wrapper .left-section .anim-frame .cloud.smaller {
      margin: -20px 215px 0 0;
      height: 100%; }

.wrapper .left-section .windmill .windmill-wings.wing1, .wrapper .left-section .windmill .windmill-wings.wing2 {
  animation-name: none; }

.wrapper .right-section .section-content {
  padding-top: 0; }

.wrapper .pdf-fix-1 {
  width: 137px; }

.wrapper .pdf-fix-2 {
  width: 178px; }

.wrapper .pdf-fix-3 {
  width: 115px; }

.wrapper .pdf-fix-4 {
  width: 144px; }

.wrapper .pdf-fix-5 {
  width: 100px; }
