<div class="project-detail">
    <h2 class="section-header">
        <span>ACHIEVEMENTS & ACTIVITIES</span>
    </h2>
    <div class="section-content clear-all">
        <ul class="list">
            <li>
                Received Department Spotlight award in Juniper Networks for rapid delivery. (2017)
            </li>
            <li>
                Received Department Spotlight award in Juniper Networks for surpassing expectations. (2016)
            </li>
            <li>
                Bagged the Rookie of the Year award in Tavant Technologies. (2012)
            </li>
            <li>
                Secured 93 percentile in NIIT 6th national aptitude test. (2009)
            </li>
        </ul>
    </div>
</div>
