<div class="wrapper flip-container">
    <main class="main-content flipper">
        <div class="page-front">
            <header class="app-header">
                <span class="tab">Cover Letter</span>
            </header>
            <aside class="left-section pull-left">
                <div class="profile-badge">
                    <div class="cover-image letter"></div>
                    <h5 class="name letter">Rachit Garg</h5>
                    <h6 class="title">Full Stack Engineer</h6>
                </div>
                <div class="contact-info clear-all">
                    <% include ../partials/_contactinfo.ejs %>
                </div>
            </aside>
            <article class="right-section pull-left">
                <section class="cover-letter content-box">
                    <h2 class="section-header">
                        <span>TO WHOM IT MAY CONCERN</span>
                    </h2>
                    <div class="section-content clear-all">
                        <p>
                            Hello,
                        </p>
                        <p>
                            I am a passionate frontend engineer with 8 years of experience in writing performant and organised code.
                            My areas of expertise are JavaScript, TypeScript, Node JS, HTML5/CSS and frameworks related to these technologies.
                        </p>
                        <p>
                            I am currently working as a technology specialist in AQR Capital Management, Bangalore, India and responsible for handling the frontend architecture of 
                            portfolio implementation & analytics team. I am also a member of JavaScript working group and UI team here which are horizontally spread.
                            I believe that the skills and experiences I have gained make me an ideal candidate for the job of Full Stack Engineer / Frontend Engineer / JavaScript Developer.
                        </p>
                        <p>
                            I am a citizen of India and hold a permanent resident visa of Australia (subclass 189).
                            I am actively seeking opportunities in IT industry of Australia and can make myself available in 6-8 weeks.
                            Look forward to speaking with you and discussing my qualifications in more detail.
                        </p>
                        <p>
                            Sincerely,
                        </p>
                        <div class="signature-image"></div>
                        </br>
                        <address>
                            Rachit Garg<br>
                            +61 385-956-722<br>
                            rachigarg@gmail.com<br>
                        </address>
                        <div class="clear-all"></div>
                    </div>
                </section>
            </article>
            <div class="clear-all"></div>
            <% include ../partials/_footer.ejs %>
        </div>
    </main>
</div>
<script type="text/javascript" src="app.bundle.js"></script>