<h2 class="section-header">
    <span class="heading">Highlights</span>
</h2>
<div class="section-content clear-all">
    <ul class="list">
        <li>
            Received 'Department Spotlight' award in Juniper Networks for rapid delivery. (2017)
        </li>
        <li>
            Received 'Department Spotlight' award in Juniper Networks for surpassing expectations. (2016)
        </li>
        <li>
            Bagged 'Rookie of the Year' award in Tavant Technologies. (2012)
        </li>
        <li>
            Holding United States business visa B1/B2 valid till 2029.
        </li>
    </ul>
</div>
