<p>Full stack engineer with <strong>8</strong> years of experience in building Rich Internet Applications.</p>
<p>Currently working with a Fintech company in Bangalore, holding an Australian PR valid till 2023.</p>
<p>A diligent & passionate person at work, gregarious & lively outside.</p>
