<p>Full Stack Engineer with <strong>9</strong> years of experience in building Rich Internet Applications.</p>
<p>Currently holding a role of an Associate in AQR Capital Management, Bengaluru.</p>
<p>A diligent & passionate person at work, gregarious & lively outside.</p>
