<p>Front End Engineer who takes pride in writing highly organised and efficient code. I have <strong>7</strong> years of experience in building Rich Internet Applications (RIAs) for desktop and mobile devices.</p>
<p>A diligent & passionate person at work, gregarious & lively outside.</p>
