<p>Full stack engineer who takes pride in writing highly organised and efficient code. I have <strong>8</strong> years of experience in building Rich Internet Applications (RIAs).</p>
<p>Currently working in Bangalore, holding an Australian PR valid till 2023.</p>
<p>A diligent & passionate person at work, gregarious & lively outside.</p>
