<div class="project-detail jtacwb">
    <div class="summary">
        <h3 class="pull-left name pdf-fix-3">Renewals 2.0</h3>
        <strong class="pull-left client">CRM, Juniper</strong>
        <div class="pull-right duration">
            <span class="pull-left">
                <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" />
                </svg>
            </span>
            <span class="pull-right time">12 M</span>
        </div>
    </div>
    <div class="description clear-all">
        <p class="intro">A tool used by customers of Juniper to maintain and renew contracts of hardware devices.
            This single page application is based on component based architecture. Components build for this app
            are generic and can be reused in any other project.</p>
        <ul class="bullet-list">
            <li class="item html-skill">HTML5</li>
            <li class="item javascript-skill">React JS</li>
            <li class="item javascript-skill">Redux</li>
            <li class="item html-skill">Material Design</li>
            <li class="item javascript-skill">Webpack</li>
            <li class="item css-skill">SASS</li>
            <li class="item other-skill">Git</li>
            <li class="item javascript-skill">NPM</li>
            <li class="item javascript-skill">ECMA6</li>
            <li class="item javascript-skill">Lodash</li>
            <li class="item other-skill">REST API</li>
            <li class="item javascript-skill">Node JS</li>
        </ul>
    </div>
</div>
<div class="project-detail jtacwb">
    <div class="summary">
        <h3 class="pull-left name pdf-fix-4">JTAC Workbench</h3>
        <strong class="pull-left client">CRM, Juniper</strong>
        <div class="pull-right duration">
            <span class="pull-left">
                <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" />
                </svg>
            </span>
            <span class="pull-right time">24 M</span>
        </div>
    </div>
    <div class="description clear-all">
        <p class="intro">JTAC Workbench is a CRM tool to view, edit and help resolve service requests. It is available to engineers,
            resident engineers, service managers, professional services or anyone who has a need to view customer service requests.
            This workbench provides an intuitive and fast interface into complex searches, configuration analysis, log analysis and many other features.</p>
        <ul class="bullet-list">
            <li class="item html-skill">HTML5</li>
            <li class="item javascript-skill">Angular 1.6</li>
            <li class="item html-skill">Bootstrap</li>
            <li class="item javascript-skill">Gulp</li>
            <li class="item css-skill">SASS</li>
            <li class="item javascript-skill">Bower</li>
            <li class="item other-skill">Git</li>
            <li class="item javascript-skill">NPM</li>
            <li class="item javascript-skill">Jasmine</li>
            <li class="item javascript-skill">Karma</li>
            <li class="item other-skill">REST API</li>
            <li class="item other-skill">MVC</li>
        </ul>
    </div>
</div>
<div class="project-detail r7-lol">
    <div class="summary">
        <h3 class="pull-left name pdf-fix-5">Winfield R7</h3>
        <strong class="pull-left client">Agronomy, Land O Lakes</strong>
        <div class="pull-right duration">
            <span class="pull-left">
                <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" />
                </svg>
            </span>
            <span class="pull-right time">18 M</span>
        </div>
    </div>
    <div class="description clear-all">
        <p class="intro">A web based decision support app (SPA) that uses geographical information system (GIS) to provide crucial information on agricultural planning.
            Users can plot geometries on google map representing their fields and enter critical information about projected yield. It is primarily build to work on iPad
            and microsoft surface for farmers and agricultural land owners.</p>
        <ul class="bullet-list">
            <li class="item html-skill">HTML5</li>
            <li class="item javascript-skill">Angular 1.4</li>
            <li class="item html-skill">Foundation</li>
            <li class="item css-skill">CSS</li>
            <li class="item javascript-skill">jQuery</li>
            <li class="item javascript-skill">Grunt</li>
            <li class="item other-skill">SVN</li>
            <li class="item javascript-skill">Require</li>
            <li class="item javascript-skill">Highcharts</li>
            <li class="item css-skill">Compass</li>
            <li class="item other-skill">MVC</li>
        </ul>
    </div>
</div>
<div class="project-detail fox-sports">
    <div class="summary">
        <h3 class="pull-left name">
            <a href="http://www.foxsports.com/presspass" target="_blank">Fox Sports Presspass</a>
        </h3>
        <strong class="pull-left client">E-media, Fox Sports</strong>
        <div class="pull-right duration">
            <span class="pull-left">
                <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" />
                </svg>
            </span>
            <span class="pull-right time">7 M</span>
        </div>
    </div>
    <div class="description clear-all">
        <p class="intro">A web based application used by Fox Sports for broadcasting and publishing all their media events and similar activities.
            It was a full responsive application build to work in devices of all sizes. Most components build for this application were generic used theming. </p>
        <ul class="bullet-list">
            <li class="item html-skill">HTML5</li>
            <li class="item html-skill">Bootstrap</li>
            <li class="item css-skill">CSS</li>
            <li class="item javascript-skill">jQuery</li>
            <li class="item javascript-skill">Handlebars</li>
            <li class="item other-skill">Adobe CQ5</li>
            <li class="item other-skill">SVN</li>
            <li class="item javascript-skill">JavaScript</li>
        </ul>
    </div>
</div>
<div class="project-detail 53-bank">
    <div class="summary">
        <h3 class="pull-left name">
            AMPT
        </h3>
        <strong class="pull-left client">E-media, New York Times</strong>
        <div class="pull-right duration">
            <span class="pull-left">
                <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" />
                </svg>
            </span>
            <span class="pull-right time">12 M</span>
        </div>
    </div>
    <div class="description clear-all">
        <p class="intro">Advertising media planning tool (AMPT) was an application used by NYT to manage their advertisement campaigns.
            The user could edit/create new ad campaign, configure their dashboard, generate interactive reports on data etc.</p>
        <ul class="bullet-list">
            <li class="item html-skill">XHTML</li>
            <li class="item css-skill">CSS</li>
            <li class="item javascript-skill">jQuery UI</li>
            <li class="item other-skill">JSP</li>
            <li class="item other-skill">SVN</li>
            <li class="item other-skill">Photoshop</li>
            <li class="item javascript-skill">JavaScript</li>
        </ul>
    </div>
</div>
<div class="project-detail success-trade">
    <div class="summary">
        <h3 class="pull-left name">Success Trade</h3>
        <strong class="pull-left client">Trading</strong>
        <div class="pull-right duration">
            <span class="pull-left">
                <svg class="icon-s24 icon-blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" />
                </svg>
            </span>
            <span class="pull-right time">9 M</span>
        </div>
    </div>
    <div class="description clear-all">
        <p class="intro">A single page trading platform build to cater major requirements of small traders. The application follows dashboard based approach containing floating widgets.
            System allows users to buy/sell stocks in real time, manage their portfolio, perform instrument search and view advanced charts on trade reports etc.</p>
        <ul class="bullet-list">
            <li class="item html-skill">HTML5</li>
            <li class="item css-skill">CSS</li>
            <li class="item javascript-skill">jQuery</li>
            <li class="item javascript-skill">Require</li>
            <li class="item javascript-skill">Knockout</li>
            <li class="item javascript-skill">Raphael</li>
            <li class="item other-skill">SVN</li>
            <li class="item other-skill">MVC</li>
        </ul>
    </div>
