<h2 class="section-header">
    <span class="heading">RESPONSIBILITIES</span>
</h2>
<div class="section-content clear-all">
    <ul class="list">
        <li>
            Interact with clients and/or project coordinators, understand business requirements and convert them into stories.
        </li>
        <li>
            Participate in design & architectural discussions along with other team leads and architects.
        </li>
        <li>
            Collaborate closely with UX team to develop intricate design features and user interactions.
        </li>
        <li>
            Design & develop application features and identify API requirements.
        </li>
        <li>
            Write well designed, testable and performant code that is easy to maintain and understand.
        </li>
        <li>
            Work on proof of concepts (POC) for new requirements and applications.
        </li>
    </ul>
</div>
