<%
    const programming = ['JavaScript', 'Node JS', 'ECMA6', 'PHP'];
%>
<h2 class="section-header">
    <span class="heading">TOOLS & TECHNOLOGIES</span>
</h2>
<div class="section-content clear-all">
    <div class="skill-stats">
        <span class="skill-bar javascript-skill" title="javascript">JavaScript</span>
        <span class="skill-bar html-skill" title="html">HTML</span>
        <span class="skill-bar css-skill" title="css">CSS</span>
        <span class="skill-bar other-skill" title="others">Others</span>
    </div>
    <ul class="skill-list">
        <li>
            <strong>Programming</strong>
            <ol>
                <% for(var i=0; i < programming.length; i++) { %>
                     <li class="item"><%= programming[i] %></li>
                <% } %>
            </ol>
        </li>
        <li>
            <strong>Frameworks & libraries</strong>
            <ol>
                <li class="item">React JS</li>
                <li class="item">Angular JS</li>
                <li class="item">jQuery</li>
                <li class="item">Lodash</li>
                <li class="item">Require</li>
                <li class="item">Knockout</li>
                <li class="item">Raphael</li>
            </ol>
        </li>
        <li>
            <strong>Templating</strong>
            <ol>
                <li class="item">HTML5</li>
                <li class="item">EJS</li>
                <li class="item">Handlebars</li>
                <li class="item">Bootstrap</li>
                <li class="item">Foundation</li>
            </ol>
        </li>
        <li>
            <strong>Design</strong>
            <ol>
                <li class="item">CSS</li>
                <li class="item">SASS</li>
                <li class="item">Compass</li>
                <li class="item">Photoshop</li>
                <li class="item">Lighroom</li>
                <li class="item">SVG</li>
            </ol>
        </li>
        <li>
            <strong>Build &amp; Deploy</strong>
            <ol>
                <li class="item">Webpack</li>
                <li class="item">Gulp</li>
                <li class="item">Grunt</li>
                <li class="item">Jenkins</li>
            </ol>
        </li>

        <li>
            <strong>Unit Testing</strong>
            <ol>
                <li class="item">Jasmine</li>
                <li class="item">Karma</li>
            </ol>
        </li>
        <li>
            <strong>Design patterns</strong>
            <ol>
                <li class="item">OOJS</li>
                <li class="item">MVC</li>
                <li class="item">REST</li>
                <li class="item">MVVM</li>
            </ol>
        </li>
        <li>
            <strong>Package managers</strong>
            <ol>
                <li class="item">Bower</li>
                <li class="item">NPM</li>
                <li class="item">Homebrew</li>
            </ol>
        </li>
        <li>
            <strong>Version control</strong>
            <ol>
                <li class="item">Git</li>
                <li class="item">SVN</li>
            </ol>
        </li>
        <li>
            <strong>Future interest areas</strong>
            <ol>
                <li class="item pdf-fix-1">Machine Learning</li>
                <li class="item pdf-fix-2">Full Stack Development</li>
                <li class="item">Graph QL</li>
            </ol>
        </li>
    </ul>
</div>
