<h2 class="section-header">
    <span class="heading">My average week</span>
</h2>
<div class="section-content clear-all">
    <ul class="list">
        <li>
            Participate in the usual scrum ceremonies such as daily standup meetings, demos, retrospectives and planning.
        </li>
        <li>
            Build pixel perfect, responsive & cross browser compliant layouts using HTML and CSS.
        </li>
        <li>
            Build UI components that are highly scalable and customisable using various JavaScript libraries and frameworks.
        </li>
        <li>
            Integrate application components with the backend APIs or Web Socket data.
        </li>
        <li>Implement business logic of application and fix all functional issues.</li>
        <li>Debug and fix presentational issues on desktop and other handhed devices.</li>
        <li>
            Work with other team members to resolve their issues if time permits.
        </li>
    </ul>
</div>
